@charset "UTF-8";
/* CSS Document */

/*
	* Theme color	: H = 200
	* Link blue		: #3399cc
	* Link red		: #ff3366
*/

*
{
	margin:0;
	padding:0;
	font-family:"メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	text-align:left;
	list-style:none;
	zoom:1;
}

body
{
	color:#333;
	font-size:12px;
	background:url(/img/design/back_footer.gif) bottom repeat-x;
}

#flashMessage
{
	margin-bottom:10px;
	padding:8px;
	border:dotted 2px #f33;
	background:#fee;
	text-align:center;
	color:#f00;
	font-size:16px;
	font-weight:bold;
}
.error-message
{
	color:#f00;
}


/** Tags Style
------------------------------ **/

a
{
	color:#39c;
}
a:hover
{
	color:#09f;
}

h1
{
	overflow:hidden;
	width:960px;
	height:20px;
	line-height:20px;
	color:#fff;
	font-size:12px;
	font-weight:normal;
}

img
{
	border:none;
	vertical-align:bottom;
}
img.countSrc
{
	width:1px;
	height:1px;
	border:0;
}
#left img,
#right img
{
	max-width: 100%;
}

input.button,
button.button
{
	padding:5px 10px;
	border-color:#ccc #999 #666;
	border-style:solid;
	border-width:1px;
	font-size:12px;
	background:url(/img/design/grad_w50.gif) repeat-x;
}
input.buttonS,
button.buttonS
{
	padding:2px 5px;
	border-color:#ccc #999 #666;
	border-style:solid;
	border-width:1px;
	font-size:10px;
	background:url(/img/design/grad_w50.gif) repeat-x;
}
input.formText,
textarea.formText
{
	width:300px;
}


/** Class Style
------------------------------ **/

.dispNone
{
	display:none;
}

.pankuz
{
	overflow:hidden;
	width:960px;
	line-height:20px;
	color:#ccc;
	font-size:10px;
}
.pankuz a
{
	color:#fff;
}

.officialLink
{
	color:#f36;
	font-size:14px;
	font-weight:bold;
}

table.properties th,
table.properties td
{
	padding-bottom:5px;
	padding-right:5px;
	vertical-align:top;
}
table.properties a
{
	margin-right:5px;
}
table.properties .official,
table.properties .official a
{
	color:#f36;
}
table.properties .official span
{
	color:#666;
}

.rankMore
{
	padding-left:20px;
	background:url(/img/design/icon_rank_more.gif) left center no-repeat;
}

.ajax-loader-l
{
	min-height:100px;
	background:url(/img/loader_l.gif) center no-repeat;
}

/** Form Table **/
div.formMessage
{
	padding-top:10px;
}
div.formMessage h3
{
	margin:0;
}
table.formTable
{
	width:510px;
	border:solid 1px #999;
}
table.formTable th,
table.formTable td
{
	padding:5px;
	border-bottom:dotted 1px #666;
}
table.formTable .head th,
table.formTable .head td
{
	background:#eee;
	font-weight:bold;
}
table.formTable .radios input
{
	margin:auto 10px;
}
table.formTable td.formMessage
{
	background:#eee;
}
table.formTable td.formMessage h3
{
	margin:0;
}

/** Links **/
ul.linksList li
{
	margin-bottom:10px;
	border-bottom:dotted 1px #999;
}
ul.linksList h3
{
	float:right;
	width:370px;
	margin-bottom:5px;
	line-height:20px;
}
ul.linksList .thumb
{
	float:left;
	width:120px;
	margin-bottom:10px;
}
ul.linksList .description
{
	float:right;
	width:380px;
	margin-bottom:10px;
	line-height:15px;
}

/** Page Navigation **/
p.paging
{
	padding:0 5px;
	background:#eee;
	border:dotted 1px #999;
	text-align:center;
}
p.paging span
{
	display:inline;
	margin:0 5px;
	line-height:20px;
	color:#ccc;
}
p.paging span.current
{
	color:#333;
	font-weight:bold;
}
p.paging span a
{
}

/** Float box **/
.flRight
{
	float:right;
}
.flLeft
{
	float:left;
}
.flNone
{
	float:none;
}
.clBoth
{
	clear:both;
}
.clRight
{
	clear:right;
}
.clLeft
{
	clear:left;
}

/** Texts **/
.attention
{
	color:#f36;
	font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size:10px;
}

.wBold
{
	font-weight:bold;
}
.wNormal
{
	font-weight:normal;
}

.tCenter
{
	text-align:center;
}
.tLeft
{
	text-align:left;
}
.tRight
{
	text-align:right;
}

.cBlue
{
	color:#69f;
}
.cRed
{
	color:#f69;
}
.cGrayC
{
	color:#ccc;
}
.cGray9
{
	color:#999;
}
.zero
{
	color:#999;
}

/** Icons **/
.icon_genre
{
	margin-bottom:5px;
	padding-left:70px;
	background:url(/img/design/icon_genre.gif) top left no-repeat;
}
.icon_style
{
	margin-bottom:5px;
	padding-left:70px;
	background:url(/img/design/icon_style.gif) top left no-repeat;
}
.icon_official
{
	margin-bottom:5px;
	padding-left:70px;
	background:url(/img/design/icon_official.gif) top left no-repeat;
}
.icon_test_open
{
	margin-bottom:5px;
	padding-left:70px;
	background:url(/img/design/icon_test_open.gif) top left no-repeat;
}
.icon_test_closed
{
	margin-bottom:5px;
	padding-left:70px;
	background:url(/img/design/icon_test_closed.gif) top left no-repeat;
}
.icon_fee
{
	margin-bottom:5px;
	padding-left:70px;
	background:url(/img/design/icon_fee.gif) top left no-repeat;
}

/** Feed **/
.icon_feed16
{
	padding-left:20px;
	line-height:20px;
	background:url(/img/design/icon_feed16.gif) left center no-repeat;
}


/** Main Block
------------------------------ **/

#back
{
	background:url(/img/design/back_header.gif) top repeat-x;
}

#wrap
{
	position:relative;
	width:960px;
	margin:auto;
	padding:0 10px;
}

#header
{
	position:absolute;
	top:20px;
	width:960px;
	height:120px;
	z-index:1;
}

#contents
{
	padding-top:120px;
}
#main
{
	float:left;
	width:690px;
}
#center
{
	float:right;
	width:510px;
	padding:20px 0;
}
#left
{
	float:left;
	width:160px;
	padding:20px 0;
}
#right
{
	float:right;
	width:250px;
	padding:20px 0;
}

#footer
{
	height:400px;
	padding-top:30px;
}

/** Index **/
body.index #back
{
	background:url(/img/design/back_header_index.gif) top repeat-x;
}


/** Header
------------------------------ **/

#header .logo
{
	position:absolute;
	top:10px;
	width:220px;
	height:60px;
}

#addBookmark
{
	position:absolute;
	top:0;
	right:5px;
	width:435px;
	height:20px;
}
#addBookmark li
{
	float:left;
	padding-left:5px;
}

#googleSearch
{
	position:absolute;
	top:30px;
	right:0;
	width:420px;
	height:25px;
	padding-left:30px;
	background:url(/img/design/topsearch_icon.gif) top left no-repeat;
}
#googleSearch .text
{
	display:block;
	float:left;
	width:330px;
	height:18px;
	margin:0 !important;
	padding:0 !important;
	border:solid 1px #ccc !important;
	line-height:18px;
	font-size:12px;
}
#googleSearch .button
{
	display:block;
	width:80px;
	height:20px;
	margin:0;
	padding:0;
	border:none;
	line-height:18px;
	background:url(/img/design/topsearch_button.gif);
}

#headCount
{
	position:absolute;
	top:55px;
	right:0;
	height:20px;
}
#headCount dt,
#headCount dd
{
	display:inline;
	line-height:20px;
	font-size:12px;
}
#headCount dt
{
	padding-left:20px;
	color:#666;
}
#headCount dt.title
{
	background:url(../img/design/icon_headcount_title.gif) left center no-repeat;
}
#headCount dt.review
{
	background:url(../img/design/icon_headcount_review.gif) left center no-repeat;
}
#headCount dt.vote
{
	background:url(../img/design/icon_headcount_vote.gif) left center no-repeat;
}
#headCount dd
{
	padding-right:10px;
	color:#f60;
	font-weight:bold;
}

/** Main Navigation **/
.mainNav
{
	position:absolute;
	top:80px;
	width:960px;
	height:40px;
}
.mainNav li
{
	float:left;
	overflow:visible;
	width:160px;
}
.mainNav li a
{
	display:block;
	width:160px;
	height:40px;
	line-height:40px;
	background:url(/img/design/mainnav_normal.gif);
	color:#333;
	font-size:14px;
	text-align:center;
	text-decoration:none;
}
.mainNav li a:hover
{
	background:url(/img/design/mainnav_hover.gif);
	color:#fff;
}
.mainNav li a.active
{
	background:url(/img/design/mainnav_active.gif);
	color:#333;
}

.mainNav li.search
{
	float:right;
}
.mainNav li.search a
{
	background:url(/img/design/mainnav_normal_search.gif);
}
.mainNav li.search a:hover
{
	background:url(/img/design/mainnav_hover_search.gif);
}
.mainNav li.search a.active
{
	background:url(/img/design/mainnav_active_search.gif);
}

.mainNav li.hasChild a
{
	background:url(/img/design/mainnav_normal_haschild.gif);
}
.mainNav li.hasChild a:hover
{
	background:url(/img/design/mainnav_hover_haschild.gif);
}
.mainNav li.hasChild a.active
{
	background:url(/img/design/mainnav_active_haschild.gif);
}
.mainNav li.hasChild ul
{
	display:none;
	width:160px;
}
.mainNav li.hasChild ul li
{
	float:none;
	width:160px;
	height:20px;
}
.mainNav li.hasChild ul li a
{
	width:148px;
	height:19px;
	padding:0 5px;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #999;
	line-height:19px;
	background:#000;
	color:#fff;
	font-size:12px;
	text-align:left;
}
.mainNav li.hasChild ul li a:hover
{
	background:#333;
	color:#fff;
}

/** Center
------------------------------ **/
.adCenterBottom
{
	width:510px;
	text-align:center;
	overflow:hidden;
}
.adCenterBottom img
{
	max-width:510px;
}

.content
{
	margin-bottom:30px;
}
.content p,
.content ul
{
	margin-bottom:1em;
	line-height:20px;
	letter-spacing:1px;
}
.content h2
{
	margin-bottom:20px;
	padding:5px 0;
	line-height:20px;
	background:url(/img/design/headline_h2.gif) bottom left no-repeat;
	font-size:16px;
	font-weight:normal;
}
.content h2.image
{
	margin-bottom:0;
	padding:0;
	background:none;
}
.content h2.headimage
{
	padding:0;
	background:none;
}
.content h3
{
	margin-bottom:10px;
	padding-left:10px;
	background:url(/img/design/mark_h3.gif) left top no-repeat;
	line-height:20px;
	font-size:12px;
}

/** Vote term tabs
------------------------------ **/
.voteTermTabs
{
	width:510px;
	height:30px;
	margin-bottom:10px;
}
.voteTermTabs li
{
	float:left;
	width:100px;
	height:30px;
	margin-right:5px;
}
.voteTermTabs li a
{
	display:block;
	width:100px;
	height:30px;
}
.voteTermTabs li.all a
{
	background:url(/img/design/votes_term_tabs_all_active.gif) center no-repeat;
}
.voteTermTabs li.year a
{
	background:url(/img/design/votes_term_tabs_1year_active.gif) center no-repeat;
}
.voteTermTabs li.days a
{
	background:url(/img/design/votes_term_tabs_90days_active.gif) center no-repeat;
}
.voteTermTabs li a.active img
{
	visibility:hidden;
}

/** More List
------------------------------ **/
.moreList ul
{
	margin-bottom:10px;
}
.moreList ul li
{
	padding-left:15px;
	line-height:20px;
	background:url(/img/design/icon_star.gif) left center no-repeat;
}
.moreList ul li a span
{
	padding-left:5px;
	color:#999;
	font-size:10px;
	text-decoration:none;
}

/** Bookmark & Share
------------------------------ **/
.bmShare
{
	width:510px;
	padding-bottom:5px;
	background:url(../img/design/content_bmshare_back.gif) bottom no-repeat;
}
.bmShare h3,
.bmShare p.comment
{
	margin:0;
	padding:0;
	background:none;
}
.bmShare p.comment
{
	margin-bottom:10px;
}
.bmShare .body
{
	width:480px;
	padding:0 15px;
}
.bmShare ul.share
{
	width:480px;
	height:21px;
}
.bmShare ul.share li
{
	float:left;
	width:120px;
	height:21px;
}

/** Vote Data
------------------------------ **/
table.voteData
{
	border-collapse:collapse;
}
table.voteData th,
table.voteData td
{
	line-height:20px;
}
table.voteData th
{
	padding-left:15px;
	padding-right:5px;
	background:url(/img/design/icon_star.gif) left no-repeat;
}
table.voteData td
{
	padding-right:10px;
}
table.voteData td.total
{
	color:#f36;
}



/** Left
------------------------------ **/

.leftBox
{
	width:160px;
	margin-bottom:10px;
	background: url(/img/design/leftbox_body.gif);
}
.leftBox h2 img,
.leftBox .comment img
{
	vertical-align:baseline;
}
.leftBox .body
{
	width:140px;
	padding:5px 10px 10px;
	background:url(/img/design/leftbox_bottom.gif) bottom no-repeat;
}
.leftGray
{
	background:url(/img/design/leftbox_gray_body.gif);
}
.leftGreen
{
	background:url(/img/design/leftbox_green_body.gif);
}
.leftBlue
{
	background:url(/img/design/leftbox_blue_body.gif);
}
.leftOrange
{
	background:url(/img/design/leftbox_orange_body.gif);
}
.leftPink
{
	background:url(/img/design/leftbox_pink_body.gif);
}
.leftGray .body
{
	background:url(/img/design/leftbox_gray_bottom.gif) bottom no-repeat;
}
.leftGreen .body
{
	background:url(/img/design/leftbox_green_bottom.gif) bottom no-repeat;
}
.leftBlue .body
{
	background:url(/img/design/leftbox_blue_bottom.gif) bottom no-repeat;
}
.leftOrange .body
{
	background:url(/img/design/leftbox_orange_bottom.gif) bottom no-repeat;
}
.leftPink .body
{
	background:url(/img/design/leftbox_pink_bottom.gif) bottom no-repeat;
}
.leftBox ul li
{
	padding:2px 0;
	line-height:16px;
}
.leftBox ul li a
{
	text-decoration:none;
}
.leftBox ul li a:hover
{
	text-decoration:underline;
}
.leftBox ul.feeds li a
{
	color:#f60;
}
.leftBox ul.share li
{
	height:20px;
	margin-bottom:5px;
	padding:0;
	line-height:20px;
}
/** Ads **/
.leftAds
{
	background:url(/img/design/leftbox_ads_body.gif);
}
.leftAds .body
{
	background:url(/img/design/leftbox_ads_bottom.gif) bottom no-repeat;
}
.leftAds h3
{
	font-size:12px;
}
.leftAds h3 a
{
	color:#f6c;
}
.leftAds .banner
{
	text-align:center;
}
.leftAds p
{
	line-height:15px;
	color:#eee;
	font-size:10px;
}
/** Ranking **/
.leftRanking ul
{
	padding-top:5px;
}
.leftRanking ul li h3
{
	float:right;
	width:95px;
	margin-bottom:10px;
	line-height:15px;
	font-size:10px;
	font-weight:normal;
}
.leftRanking ul li p
{
	float:left;
	width:40px;
	margin-bottom:10px;
}
.leftRanking p.more
{
	margin-bottom:5px;
	text-align:right;
}
/** Icons **/
.leftBox ul.share li.hatena
{
	padding-left:20px;
	background:url(../img/design/icon_share_hatena.gif) left no-repeat;
}
.leftBox ul.share li.yahoo
{
	padding-left:20px;
	background:url(../img/design/icon_share_yahoo.gif) left no-repeat;
}


/** Right
------------------------------ **/

.rightBox
{
	width:250px;
	margin-bottom:10px;
	background:url(/img/design/rightbox_body.gif);
}
.rightBox h2 img,
.rightBox .comment img
{
	vertical-align:baseline;
}
.rightBox .comment
{
	margin-bottom:5px;
}
.rightBox .body
{
	padding:5px 10px 10px;
	background:url(/img/design/rightbox_bottom.gif) bottom no-repeat;
}
.rightPickup
{
	background:url(/img/design/rightbox_pickup_body.gif);
}
.rightTest
{
	background:url(/img/design/rightbox_test_body.gif);
}
.rightMyreview
{
	background:url(/img/design/rightbox_myreview_body.gif);
}
.rightPickup .body
{
	background:url(/img/design/rightbox_pickup_bottom.gif) bottom no-repeat;
}
.rightTest .body
{
	background:url(/img/design/rightbox_test_bottom.gif) bottom no-repeat;
}
.rightMyreview .body
{
	background:url(/img/design/rightbox_myreview_bottom.gif) bottom no-repeat;
}

.rightBox .item
{
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:dotted 1px #ccc;
}
.rightBox .item h3
{
	float:right;
	width:160px;
	margin-bottom:5px;
	line-height:15px;
}
.rightBox .item h3 a
{
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
}
.rightBox .item h3 a:hover
{
	text-decoration:underline;
}
.rightBox .item h3 a span
{
	display:block;
	color:#666;
	font-size:10px;
}
.rightBox .item .thumb
{
	float:left;
	overflow:hidden;
	width:60px;
	height:45px;
	margin-bottom:5px;
}
.rightBox .item p
{
	line-height:20px;
	font-size:10px;
}
.rightBox .item p.description
{
	clear:both;
	margin-bottom:5px;
	line-height:15px;
}
.rightBox .item p.edit
{
	clear:both;
	line-height:20px;
	text-align:right;
	font-size:12px;
}
.rightBox .item p.date
{
	clear:both;
	line-height:15px;
	text-align:right;
}
.rightBox .item p.icon_official a
{
	color:#f36;
}


/** Ads **/
.gAds250
{
	overflow:hidden;
	width:250px;
	height:250px;
	margin-bottom:20px;
	background:#333;
}
.leftAds160
{
	width:160px;
	margin-bottom:10px;
}
.rightAds234
{
	width:234px;
	height:60px;
	background:url(/img/design/back_side_ads234.gif);
	padding:10px 8px;
}

/** social **/
.rightFbLikeBox
{
	width:250px;
	margin-bottom:10px;
}


/** Footer
------------------------------ **/

#footerNav
{
	float:left;
	width:260px;
	height:130px;
	padding:20px 10px 150px;
	background:url(/img/design/back_footer_nav.gif);
}
#footerNav li
{
	line-height:20px;
}
#footerNav li a
{
	color:#ccc;
}
#footerNav li a:hover
{
	color:#fff;
}

#footerRank
{
	float:right;
	width:660px;
	height:300px;
}
#footerRank h3
{
	margin-bottom:10px;
}
#footerRank .pageRank
{
	float:left;
	width:320px;
	hieight:260px;
	margin:20px 0;
}
#footerRank .accessRank
{
	float:right;
	width:320px;
	hieight:260px;
	margin:20px 0;
}
#footerRank .rankBox
{
	overflow:auto;
	width:318px;
	height:218px;
	border-style:solid;
	border-width:1px;
	border-color:#222 #444 #666;
}
#footerText
{
	clear:both;
	width:940px;
	height:80px;
	padding:10px;
	line-height:20px;
	background:url(/img/design/logo_footer.gif) right center no-repeat;
}



/** Rating Star **/
.star50
{
	overflow:hidden;
	height:10px;
}
.star50Back
{
	width:50px;
	height:10px;
	background:url(/img/design/rating_star50_back.gif);
}
.star50bBack
{
	width:50px;
	height:10px;
	background:url(/img/design/rating_star50b_back.gif);
}
.star100
{
	overflow:hidden;
	height:20px;
}
.star100Back
{
	width:100px;
	height:20px;
	background:url(/img/design/rating_star100_back.gif);
}
.star100bBack
{
	width:100px;
	height:20px;
	background:url(/img/design/rating_star100b_back.gif);
}
.star200
{
	overflow:hidden;
	height:40px;
}
.star200Back
{
	width:200px;
	height:40px;
	background:url(/img/design/rating_star200_back.gif);
}
.star200bBack
{
	width:200px;
	height:40px;
	background:url(/img/design/rating_star200b_back.gif);
}
.star50 img, .star100 img, .star200 img
{
	vertical-align:top;
}


/** Balloon popup
------------------------------ **/
#bal
{
	position:absolute;
	width:300px;
	padding:9px;
	border:solid 1px #000;
	background:#333;
}
#bal div.title
{
	margin-bottom:5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
#bal div.title span
{
	display:block;
	line-height:15px;
	font-size:10px;
	font-weight:normal;
	color:#ccc;
}
#bal div.body,
#bal div.body p
{
	line-height:15px;
	font-size:12px;
	color:#eee;
}



/***************/
/** Clear Fix **/
/***************/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfixLeft:after {
  content: ".";
  display: block;
  clear: left;
  height: 0;
  visibility: hidden;
}
.clearfixRight:after {
  content: ".";
  display: block;
  clear: right;
  height: 0;
  visibility: hidden;
}

.clearfix,
.clearfixLeft,
.clearfixRight {
  min-height: 1px;
}

* html .clearfix,
* html .clearfixLeft,
* html .clearfixRight {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}


table.cake-sql-log,
.cake-sql-log table
{
	border-collapse:collapse;
}
.cake-sql-log th,
.cake-sql-log td
{
	border:solid 1px #999;
	padding: 4px 9px;
	text-align: left;
}