@charset "UTF-8";
/* CSS Document */

/*
	@ Use : Titles
	
	* Theme color	: H = 200
	* Link blue		: #3399cc
	* Link red		: #ff3366
*/

/** Monies
------------------------------ **/

.monies .item
{
	margin-bottom:10px;
	border-bottom:dotted 1px #999;
}
.monies .item .banner
{
	float:right;
	margin-left:10px;
}