@charset "UTF-8";
/* CSS Document */

/*
	@ Use : Titles
	
	* Theme color	: H = 200
	* Link blue		: #3399cc
	* Link red		: #ff3366
*/

.titles table
{
	width:510px;
	border-collapse:collapse;
}
.titles table th,
.titles table td
{
	padding:5px;
	border:solid 1px #999;
	vertical-align:top;
}
.titles table th.zero,
.titles table td.zero
{
	color:#999;
}
.titles table th.head
{
	background:#eee;
}
.titles table th.head a
{
	display:block;
}
.titles table th.head a span
{
	display:block;
	color:#333;
	font-size:10px;
	font-weight:normal;
}
.titles table td.thumb
{
	width:120px;
}
.titles table th.desktop
{
	width:100px;
	padding-left:25px;
	background:url(../img/design/icon_pc_desktop20.gif) center left no-repeat;
}
.titles table th.note
{
	width:100px;
	padding-left:25px;
	background:url(../img/design/icon_pc_note20.gif) center left no-repeat;
}
.titles table td.price
{
	text-align:right;
	vertical-align:bottom;
}
.titles table td.price span
{
	color:red;
	font-size:16px;
	font-weight:bold;
}