@charset "UTF-8";
/* CSS Document */

/*
	@ Use : Titles
	
	* Theme color	: H = 200
	* Link blue		: #3399cc
	* Link red		: #ff3366
*/

/** Desctiption
------------------------------ **/

.description .thumb
{
	float:right;
	margin-left:10px;
}
.description .icon_official,
.description .icon_official a
{
	color:#f36;
	font-size:14px;
	font-weight:bold;
}


/** Items
------------------------------ **/

.items .item
{
	margin-bottom:10px;
	border-bottom:dotted 1px #999;
}
.items .item .thumb
{
	float:left;
	width:120px;
	margin-bottom:10px;
}
.items .item .data
{
	float:right;
	width:380px;
	margin-bottom:10px;
}
.items .item .data .description
{
	margin-bottom:5px;
}
.items .item .icon_official a
{
	color:#f36;
	font-weight:bold;
}
.items .item .data table
{
	margin-bottom:5px;
	border-collapse:collapse;
}
.items .item .data table th,
.items .item .data table td
{
	padding:0 10px 5px 0;
}


/** Copyright
------------------------------ **/

.copyright
{
	padding:2px 7px;
	border:double 3px #ccc;
	background:#eee;
}
.copyright p
{
	margin:0;
	color:#666;
	font-size:10px;
	line-height:15px;
}