@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  padding-top: 50px;
  background: #FAFAFA;
  color: #212121;
  font-family: sans-serif;
  font-size: 14px;
}

/** Tags
------------------------------ **/
* {
  box-sizing: border-box;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}
a.inline {
  display: inline;
  color: #2196F3;
  text-decoration: underline;
}
a.inline:hover {
  color: #0D47A1;
}
a.official {
  color: #009688;
}
a.feed {
  color: #FF5722;
}
a img {
  vertical-align: bottom;
}

p, dt, dd, th, td {
  line-height: 1.6;
}

img.adTrack {
  position: absolute !important;
}

input, textarea {
  line-height: 20px;
  font-size: 16px;
}
input.input-text, textarea.input-text {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  border: solid 1px #BDBDBD;
  border-radius: 5px;
}
input.input-text:focus, textarea.input-text:focus {
  border-color: #2196F3;
}
input.input-text-s, textarea.input-text-s {
  width: auto;
}

select.input-select {
  width: 100%;
  height: 32px;
  border: solid 1px #BDBDBD;
  border-radius: 5px;
  font-size: 16px;
}

.input-description {
  display: inline-block;
  margin-top: 5px;
  color: #616161;
  font-size: 12px;
}

.input-attention {
  display: inline-block;
  margin-bottom: 5px;
  color: #F44336;
  font-size: 12px;
}

/** Classes
------------------------------ **/
.clPrimary {
  color: #2196F3 !important;
}

.clSuccess {
  color: #4CAF50 !important;
}

.clInfo {
  color: #03A9F4 !important;
}

.clWarning {
  color: #FF9800 !important;
}

.clDanger {
  color: #F44336 !important;
}

.fwBold {
  font-weight: bold !important;
}

.fwNormal {
  font-weight: normal !important;
}

.taLeft {
  text-align: left;
}

.taCenter {
  text-align: center;
}

.taRight {
  text-align: right;
}

.thumb {
  overflow: hidden;
  background: #000;
}
.thumb img {
  max-width: 100%;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.button {
  display: inline-block !important;
  max-width: 100%;
  padding: 10px;
  border: solid 1px #BDBDBD;
  border-bottom-width: 2px;
  border-radius: 2px;
  outline: none;
  background: #F5F5F5;
  line-height: 20px;
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.button.button-s {
  padding: 5px;
  line-height: 15px;
  font-size: 12px;
}
.button.button-block {
  display: block !important;
  width: 100%;
  max-width: 100%;
}
.button.button-primary {
  background: #2196F3;
  border-color: #1976D2;
  color: #fff !important;
}
.button.button-success {
  background: #4CAF50;
  border-color: #388E3C;
  color: #fff !important;
}
.button.button-info {
  background: #03A9F4;
  border-color: #0288D1;
  color: #fff !important;
}
.button.button-warning {
  background: #FF9800;
  border-color: #F57C00;
  color: #fff !important;
}
.button.button-danger {
  background: #F44336;
  border-color: #D32F2F;
  color: #fff !important;
}
.button.button-official {
  background: #009688;
  border-color: #00796B;
  color: #fff !important;
}
.button.button-accent {
  background: #E91E63;
  border-color: #C2185B;
  color: #fff !important;
}
.button.button-search, .button.button-submit {
  background: #3F51B5;
  border-color: #303F9F;
  color: #fff !important;
}
.button[class*="button-"] {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
.button i.md {
  font-size: 20px;
}

.label {
  display: inline-block;
  width: 50px;
  height: 15px;
  line-height: 15px;
  border-radius: 2px;
  background: #9E9E9E;
  color: #fff;
  font-size: 10px;
  text-align: center;
}
.label.label-official {
  background: #009688;
}
.label.label-platform {
  background: #616161;
}
.label.label-app {
  background: #616161;
}
.label.label-genre {
  background: #2196F3;
}
.label.label-service {
  background: #4CAF50;
}
.label.label-fee {
  background: #FFC107;
}
.label.label-open {
  background: #673AB7;
}
.label.label-closed {
  background: #3F51B5;
}
.label.label-primary {
  background: #2196F3;
}
.label.label-success {
  background: #4CAF50;
}
.label.label-info {
  background: #03A9F4;
}
.label.label-warning {
  background: #FF9800;
}
.label.label-danger {
  background: #F44336;
}

ul.platformLabels li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 2px;
  border-radius: 2px;
  background: #616161;
  line-height: 15px;
  color: #fff;
  font-size: 10px;
}
ul.platformLabels:last-child li {
  margin-bottom: 0;
}

ul.categoryLabels li {
  display: inline-block;
  margin-bottom: 5px;
  line-height: 10px;
  color: #616161;
  font-size: 10px;
}
ul.categoryLabels:last-child li {
  margin-bottom: 0;
}

.stars {
  display: flex;
  margin: auto;
  color: #FF9800;
}
.stars .zmdi {
  display: block;
  width: 20%;
  text-align: center;
}
.stars.stars-75 {
  width: 75px;
  height: 15px;
}
.stars.stars-75 .zmdi {
  line-height: 15px;
  font-size: 15px;
}
.stars.stars-125 {
  width: 125px;
  height: 25px;
}
.stars.stars-125 .zmdi {
  line-height: 25px;
  font-size: 25px;
}

i.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}
i.icon.icon-feed {
  background-image: url('../img/icon_feed16.png');
}

.flash {
  padding: 10px;
  border-bottom: solid 5px #9E9E9E;
  background: #F5F5F5;
}
.flash .flash-title {
  margin-bottom: 5px;
  line-height: 15px;
}
.flash .flash-title:only-child {
  margin-bottom: 10px;
}
.flash .flash-body {
  line-height: 15px;
  font-size: 12px;
}
.flash.flash-primary {
  border-bottom-color: #2196F3;
  background: #E3F2FD;
}
.flash.flash-primary .flash-title {
  color: #1976D2;
}
.flash.flash-success {
  border-bottom-color: #4CAF50;
  background: #E8F5E9;
}
.flash.flash-success .flash-title {
  color: #388E3C;
}
.flash.flash-info {
  border-bottom-color: #03A9F4;
  background: #E1F5FE;
}
.flash.flash-info .flash-title {
  color: #0288D1;
}
.flash.flash-warning {
  border-bottom-color: #FF9800;
  background: #FFF3E0;
}
.flash.flash-warning .flash-title {
  color: #F57C00;
}
.flash.flash-danger {
  border-bottom-color: #F44336;
  background: #FFEBEE;
}
.flash.flash-danger .flash-title {
  color: #D32F2F;
}

/** Main blocks
------------------------------ **/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #212121;
  color: #fff;
  z-index: 10;
}
header * {
  color: inherit;
}
header .logo {
  float: left;
  width: 180px;
  height: 50px;
  padding: 5px;
}
header .topMenu {
  float: right;
  width: 100px;
  height: 50px;
}
header .topMenu .search,
header .topMenu .menu {
  float: left;
  width: 50px;
  height: 50px;
}
header .topMenu a.topMenu-trigger {
  width: 50px;
  height: 50px;
  padding: 5px 5px 0;
}
header .topMenu a.topMenu-trigger span {
  display: block;
  width: 40px;
  text-align: center;
}
header .topMenu a.topMenu-trigger span.icon {
  height: 25px;
  padding-top: 5px;
}
header .topMenu a.topMenu-trigger span.text {
  padding-bottom: 5px;
  line-height: 15px;
  font-size: 10px;
}
header .topMenu .topMenu-hover {
  display: none;
  position: fixed;
  top: 50px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  margin-top: -5px;
}
header .topMenu .search-form {
  padding: 10px;
  border-top: solid 5px #2196F3;
  background: rgba(0, 0, 0, 0.8);
}
header .topMenu .search-form .search-inputs {
  position: relative;
  width: 100%;
  height: 30px;
  background: #000;
  border: solid 1px #fff;
  border-radius: 15px;
}
header .topMenu .search-form .search-inputs input.search-text {
  width: 100%;
  height: 30px;
  padding: 0 40px 0 10px;
  background: transparent;
  border: none;
  outline: none;
}
header .topMenu .search-form .search-inputs button.search-button {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  border: none;
  background: none;
}
header .topMenu .search-form .search-conditions {
  line-height: 40px;
  text-align: center;
}
header .topMenu .menu-list {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  height: 100%;
  padding: 10px;
  border-top: solid 5px #2196F3;
  background: rgba(0, 0, 0, 0.8);
}
header .topMenu .menu-list a {
  border-bottom: solid 1px #BDBDBD;
  line-height: 40px;
}
header .topMenu .menu-list dl {
  font-size: 12px;
}
header .topMenu .menu-list dl dt {
  margin-top: 15px;
  margin-bottom: 5px;
}
header .topMenu .menu-list dl dd ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .topMenu .menu-list dl dd ul li {
  width: 49%;
  margin-bottom: 5px;
}
header .topMenu .menu-list dl dd ul li a {
  border: solid 1px #BDBDBD;
  text-align: center;
}
header .topMenu > .topMenu-item.active .topMenu-trigger {
  background: #2196F3;
}
header .topMenu > .topMenu-item.active .topMenu-hover {
  display: block;
}

aside.pankuz {
  background: #616161;
  background: linear-gradient(#212121, #616161);
  color: #EEEEEE;
}
aside.pankuz ul {
  margin: auto;
  width: 1140px;
  padding: 5px 0;
}
aside.pankuz li {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
}
aside.pankuz li.top:before {
  content: none;
}

footer .social {
  display: flex;
  flex-wrap: wrap;
}
footer .social li {
  width: 50%;
}
footer .social li.facebook {
  background: #3b5999;
}
footer .social li.twitter {
  background: #55acee;
}
footer .social li a {
  text-align: center;
}
footer .about {
  padding: 5px;
  background: #424242;
  color: #fff;
}
footer .about ul {
  display: flex;
  flex-wrap: wrap;
}
footer .about ul li {
  width: 50%;
}
footer .about ul li a {
  padding: 5px;
  line-height: 30px;
}
footer .copyright {
  position: relative;
  font-size: 10px;
}
footer .copyright:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 19px;
  border-top: solid 1px #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, rgba(238, 238, 238, 0)));
  background: -moz-linear-gradient(#eeeeee, rgba(238, 238, 238, 0));
  background: -webkit-linear-gradient(#eeeeee, rgba(238, 238, 238, 0));
  background: linear-gradient(#eeeeee, rgba(238, 238, 238, 0));
  z-index: -1;
}
footer .copyright .image {
  padding: 5px 10px;
  color: #616161;
}
footer .copyright .site {
  padding: 5px 10px;
  background: #3F51B5;
  color: #fff;
}

/** Main contents - classes & tags
------------------------------ **/
.contents {
  position: relative;
  /** Tags
  ------------------------------ **/
  /** Classes
  ------------------------------ **/
}
.contents:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 19px;
  border-top: solid 1px #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, rgba(238, 238, 238, 0)));
  background: -moz-linear-gradient(#eeeeee, rgba(238, 238, 238, 0));
  background: -webkit-linear-gradient(#eeeeee, rgba(238, 238, 238, 0));
  background: linear-gradient(#eeeeee, rgba(238, 238, 238, 0));
  z-index: -1;
}
.contents h1 {
  padding: 10px;
  line-height: 1;
  font-size: 20px;
}
.contents h1 span {
  display: inline-block;
}
.contents h1 span.main, .contents h1 span.official {
  line-height: 25px;
}
.contents h1 span.sub, .contents h1 span.read {
  line-height: 15px;
  font-size: 12px;
}
.contents h1 span.label {
  width: auto;
  height: auto;
  margin-right: 5px;
  padding: 3px 5px;
  line-height: 14px;
  font-size: 12px;
  vertical-align: text-bottom;
}
.contents h2 {
  padding: 5px 10px;
  border-top: solid 1px #BDBDBD;
  border-bottom: solid 1px #BDBDBD;
  background: linear-gradient(#ffffff, #f5f5f5);
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
}
.contents h2 span {
  display: inline-block;
}
.contents h2 span.label {
  width: auto;
  height: auto;
  margin-right: 5px;
  padding: 3px 5px;
  line-height: 14px;
  font-size: 12px;
  font-weight: normal;
  vertical-align: text-bottom;
}
.contents h3 {
  padding: 5px 10px;
  border-top: solid 1px #BDBDBD;
  border-bottom: solid 1px #BDBDBD;
  background: #F5F5F5;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
}
.contents p.headline-description {
  padding: 5px 10px;
  line-height: 15px;
  font-size: 12px;
}
.contents .pageInfo {
  padding: 20px 10px 10px;
}
.contents .pageInfo h1.pageTitle {
  margin-bottom: 10px;
  padding: 0;
}
.contents .pageInfo h1.pageTitle:only-child {
  margin: 0;
}
.contents .pageInfo .pageDescription {
  line-height: 15px;
  font-size: 12px;
}
.contents .editorDoc a {
  display: inline;
  color: #2196F3;
  text-decoration: underline;
}
.contents .editorDoc p {
  margin-bottom: 5px;
}
.contents .editorDoc p:last-child {
  margin: 0;
}
.contents .editorDoc h2, .contents .editorDoc h3 {
  padding: 0;
  border: 0;
  background: none;
}
.contents .more {
  border-top: solid 1px #BDBDBD;
  background: #F5F5F5;
}
.contents .more a {
  padding: 5px 10px;
  line-height: 20px;
  font-size: 12px;
  text-align: right;
}
.contents .noData {
  margin: 10px 0;
  padding: 10px;
  border-radius: 2px;
  background: #EEEEEE;
  text-align: center;
}
.contents .noData:first-child {
  margin-top: 0;
}
.contents .noData:last-child {
  margin-bottom: 0;
}
.contents .gAds {
  padding: 10px 0;
  background: #F5F5F5;
  text-align: center;
}
.contents .gAds.gAds-responsive {
  padding: 10px;
}
.contents .gAds.gAds-left {
  text-align: left;
}
.contents .gAds.gAds-right {
  text-align: right;
}
.contents .slide {
  overflow: hidden;
  width: 100%;
  height: 120px;
}
.contents .slide .slide-item {
  float: left;
  width: 100%;
  height: 120px;
  background: #F5F5F5;
}
.contents .slide .slide-item a {
  display: block;
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
.contents .slide .slide-item a .images {
  float: left;
  width: 80px;
}
.contents .slide .slide-item a .images .thumb {
  margin-bottom: 5px;
}
.contents .slide .slide-item a .images .thumb img {
  width: 80px;
  height: 60px;
}
.contents .slide .slide-item a .texts {
  position: relative;
  overflow: hidden;
  height: 100px;
  margin-left: 85px;
}
.contents .slide .slide-item a .texts:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background: linear-gradient(rgba(245, 245, 245, 0), #f5f5f5);
}
.contents .slide .slide-item a .texts .title span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  height: 20px;
}
.contents .slide .slide-item a .texts .title span.official {
  font-size: 16px;
}
.contents .slide .slide-item a .texts .title span.read {
  color: #616161;
  font-size: 12px;
}
.contents .slide .slide-item a .texts .description {
  line-height: 15px;
  font-size: 12px;
}
.contents .slide.slide-s {
  height: 65px;
}
.contents .slide.slide-s .slide-item {
  height: 65px;
}
.contents .slide.slide-s .slide-item a .images {
  width: 60px;
}
.contents .slide.slide-s .slide-item a .images .thumb {
  margin: 0;
}
.contents .slide.slide-s .slide-item a .images .thumb img {
  width: 60px;
  height: 45px;
}
.contents .slide.slide-s .slide-item a .texts {
  overflow: visible;
  height: 45px;
  margin-left: 65px;
}
.contents .slide.slide-s .slide-item a .texts:after {
  content: none;
}
.contents .slide.slide-s .slide-item a .texts .title span {
  height: 15px;
}
.contents .slide.slide-s .slide-item a .texts .title span.official {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}
.contents .slide.slide-s .slide-item a .texts .title span.read {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
.contents .slide.slide-s .slide-item a .texts .stars {
  margin-left: 0;
}
.contents .slide.slick-dotted {
  position: relative;
  height: 150px;
}
.contents .slide.slick-dotted.slide-s {
  height: 95px;
}
.contents .slide.slick-dotted ul.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  margin: 10px 0;
  text-align: center;
}
.contents .slide.slick-dotted ul.slick-dots li {
  display: inline-block;
  vertical-align: top;
}
.contents .slide.slick-dotted ul.slick-dots li button {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  padding: 0;
  border: none;
  border-radius: 2px;
  outline: 0;
  background: #E0E0E0;
  font-size: 0;
}
.contents .slide.slick-dotted ul.slick-dots li.slick-active button {
  background: #3F51B5;
}
.contents nav.pages {
  padding: 5px;
  border-top: solid 1px #BDBDBD;
  border-bottom: solid 1px #BDBDBD;
  background: #EEEEEE;
}
.contents nav.pages ul.paging {
  display: flex;
  flex-wrap: wrap;
}
.contents nav.pages ul.paging li {
  float: left;
  margin-right: 5px;
}
.contents nav.pages ul.paging li:last-child {
  margin: 0;
}
.contents nav.pages ul.paging li a, .contents nav.pages ul.paging li span {
  display: block;
  line-height: 15px;
  color: inherit;
  font-size: 12px;
}
.contents nav.pages ul.paging li a {
  padding: 4px 9px;
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  background: #fff;
  text-decoration: none;
}
.contents nav.pages ul.paging li span {
  padding: 5px 10px;
  color: #9E9E9E;
}
.contents nav.pages ul.paging li.current a {
  background: #2196F3;
  color: #fff;
  font-weight: bold;
}
.contents .copyright {
  padding: 5px;
  border-radius: 2px;
  background: #BDBDBD;
  line-height: 15px;
  color: #fff;
  font-size: 10px;
}
.contents .officiallink,
.contents .shoplink,
.contents .applink {
  display: block;
  overflow: hidden;
  clear: both;
  position: relative;
  margin: 10px 0;
  padding: 10px;
  border-bottom: solid 2px #004D40;
  border-radius: 5px;
  background: #009688;
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}
.contents .officiallink:first-child,
.contents .shoplink:first-child,
.contents .applink:first-child {
  margin-top: 0;
}
.contents .officiallink:last-child,
.contents .shoplink:last-child,
.contents .applink:last-child {
  margin-bottom: 0;
}
.contents .officiallink i,
.contents .shoplink i,
.contents .applink i {
  position: absolute;
  top: 50%;
  height: 30px;
  margin-top: -15px;
  pointer-events: none;
  z-index: 1;
}
.contents .officiallink .caption,
.contents .officiallink .read,
.contents .shoplink .caption,
.contents .shoplink .read,
.contents .applink .caption,
.contents .applink .read {
  display: block;
  line-height: 15px;
  font-size: 12px;
}
.contents .officiallink .title,
.contents .shoplink .title,
.contents .applink .title {
  display: block;
  line-height: 20px;
  font-size: 16px;
}
.contents .officiallink.ended,
.contents .shoplink.ended,
.contents .applink.ended {
  background: #004D40;
  pointer-events: none;
}
.contents div.officiallink {
  padding: 0;
}
.contents div.officiallink .caption {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}
.contents div.officiallink a {
  display: block;
  padding: 25px 10px 10px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
}
.contents .applink {
  background: #616161;
}
.contents .applink .caption {
  margin-bottom: 5px;
}
.contents .applink a {
  display: inline;
}
.contents .shares {
  margin: 10px 0;
  padding: 5px;
  border-radius: 2px;
  background: #EEEEEE;
}
.contents .shares li {
  display: inline-block;
}
.contents .shares li img {
  width: 50px;
  height: 50px;
}
.contents .form form {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.contents .form .error-message {
  color: #F44336;
}
.contents .form table {
  width: 100%;
  border-collapse: collapse;
}
.contents .form table th {
  padding: 10px 10px 5px;
}
.contents .form table th.must:before {
  content: "必須";
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  margin-right: 5px;
  padding: 4px 5px;
  border-radius: 2px;
  background: #F44336;
  line-height: 1;
  color: #fff;
  font-size: 12px;
}
.contents .form table td {
  padding: 5px 10px 10px;
  border-bottom: solid 1px #BDBDBD;
}
.contents .form table tr:last-child th, .contents .form table tr:last-child td {
  border-bottom: none;
}
.contents .form table tr.head th, .contents .form table tr.head td {
  padding: 5px 10px;
  background: #3F51B5;
  color: #fff;
}
.contents .form table tr.submit td {
  padding: 10px;
}
.contents .form table tr.notes {
  background: #F5F5F5;
}
.contents .form table tr.notes td {
  padding: 10px;
}
.contents .form table tr.notes dl dt {
  font-weight: bold;
}
.contents .form table tr.notes dl dd {
  margin-bottom: 10px;
}
.contents .form table tr.notes dl dd:last-child {
  margin-bottom: 0;
}
.contents .form table tr.notes dl dd p {
  margin-bottom: 10px;
}
.contents .form table tr.notes dl dd p input.url {
  width: 100%;
  padding: 4px;
  border: solid 1px #BDBDBD;
  background: #EEEEEE;
}
.contents .form table tr.notes dl dd p:last-child {
  margin-bottom: 0;
}
.contents .form-vote .rates {
  display: flex;
  justify-content: space-between;
}
.contents .form-vote .rates label.rate {
  width: 19%;
  padding: 10px;
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  line-height: 20px;
  color: #616161;
  font-size: 16px;
  text-align: center;
}
.contents .form-vote .rates input[type=radio] {
  display: none;
}
.contents .form-vote .rates input[type=radio]:checked + label.rate {
  background: #2196F3;
  color: #fff;
  font-weight: bold;
}
.contents .noneTitles li {
  margin-bottom: 10px;
}
.contents .noneTitles li a {
  text-decoration: none;
}
.contents .noneTitles li a:hover {
  text-decoration: underline;
}
.contents .noneTitles li a .official,
.contents .noneTitles li a .read {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.contents .noneTitles li a .official {
  margin-right: 5px;
}
.contents .noneTitles li a .read {
  color: #616161;
  font-size: 12px;
}

/** Review components
------------------------------ **/
.contents ul.borderedLinks > li {
  border-bottom: solid 1px #BDBDBD;
}
.contents ul.borderedLinks > li:last-child {
  border-bottom: 0;
}
.contents ul.borderedLinks > li a {
  overflow: hidden;
  padding: 10px;
}
.contents ul.borderedLinks:first-child > li:first-child {
  border-top: solid 1px #BDBDBD;
}
.contents h2 + section > ul.borderedLinks:first-child > li:first-child {
  border-top: 0;
}
.contents ul.textLinks .main,
.contents ul.textLinks .official {
  line-height: 20px;
  color: #2196F3;
  font-size: 16px;
}
.contents ul.textLinks .sub,
.contents ul.textLinks .read {
  line-height: 10px;
  color: #616161;
  font-size: 10px;
}
.contents ul.textLinks .description {
  color: #212121;
}
.contents ul.textLinks .description p {
  margin-bottom: 5px;
}
.contents ul.textLinks .description p:last-of-type {
  margin: 0;
}
.contents ul.imageLinks > li > a {
  overflow: hidden;
}
.contents ul.imageLinks .images {
  float: left;
  width: 80px;
}
.contents ul.imageLinks .images .thumb {
  width: 80px;
  margin-bottom: 5px;
}
.contents ul.imageLinks .images .thumb:only-child {
  margin: 0;
}
.contents ul.imageLinks .images .thumb img {
  width: 80px;
  height: 60px;
}
.contents ul.imageLinks .data {
  margin-left: 90px;
}
.contents ul.imageLinks .data .title {
  margin-bottom: 5px;
}
.contents ul.imageLinks .data .title:only-child {
  margin: 0;
}
.contents ul.imageLinks .data .title .official {
  line-height: 20px;
  color: #2196F3;
  font-size: 16px;
}
.contents ul.imageLinks .data .title .read {
  line-height: 10px;
  font-size: 10px;
}
.contents ul.imageLinks.imageLinks-s .images {
  width: 40px;
}
.contents ul.imageLinks.imageLinks-s .images .thumb {
  width: 40px;
}
.contents ul.imageLinks.imageLinks-s .images .thumb img {
  width: 40px;
  height: 30px;
}
.contents ul.imageLinks.imageLinks-s .data {
  margin-left: 50px;
}

/** Archive components
------------------------------ **/
.contents section.archive-titles .images .rate {
  overflow: hidden;
  padding: 5px;
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  background: #fff;
  text-align: center;
  font-size: 12px;
}
.contents section.archive-titles .images .rate .caption {
  line-height: 15px;
}
.contents section.archive-titles .images .rate .value {
  line-height: 20px;
}
.contents section.archive-titles .images .rate .value .num {
  font-size: 16px;
  font-weight: bold;
}
.contents section.archive-titles .images .rate .value .unit {
  font-size: 12px;
}
.contents section.archive-titles .data .platforms {
  margin-bottom: 5px;
}
.contents section.archive-titles .data dl.attributes {
  overflow: hidden;
}
.contents section.archive-titles .data dl.attributes dt {
  clear: left;
  float: left;
  width: 50px;
  line-height: 15px;
}
.contents section.archive-titles .data dl.attributes dd {
  margin-left: 55px;
  margin-bottom: 5px;
  line-height: 15px;
  color: #616161;
  font-size: 12px;
}

/** Search components
------------------------------ **/
.contents section.search .form-search fieldset {
  border-bottom: solid 1px #BDBDBD;
  background: #fff;
}
.contents section.search .form-search fieldset legend {
  padding: 10px 10px 5px;
  line-height: 20px;
}
.contents section.search .form-search fieldset .inputs {
  padding: 5px 10px 10px;
}
.contents section.search .form-search fieldset .inputs ul {
  margin-bottom: -5px;
}
.contents section.search .form-search fieldset .inputs ul li {
  margin-bottom: 5px;
}
.contents section.search .form-search fieldset .inputs label {
  display: block;
  padding: 10px;
  border: solid 1px #BDBDBD;
  line-height: 20px;
  font-size: 12px;
}
.contents section.search .form-search fieldset .inputs input[type=checkbox] {
  display: none;
}
.contents section.search .form-search fieldset .inputs input[type=checkbox]:checked + label {
  background: #2196F3;
  color: #fff;
}
.contents section.search .form-search fieldset .inputs.inputs-tile ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contents section.search .form-search fieldset .inputs.inputs-tile ul li {
  width: 49%;
}
.contents section.search .form-search fieldset .inputs.inputs-tile label {
  padding: 10px 5px;
  text-align: center;
}
.contents section.search .form-search fieldset.keyword input {
  width: 100%;
}
.contents section.search .form-search .submit {
  padding: 10px;
  text-align: center;
}

/** Ranking components
------------------------------ **/
.contents section.ranking section.all .images {
  position: relative;
}
.contents section.ranking section.all .images .num {
  position: absolute;
  top: -5px;
  left: -5px;
  min-width: 20px;
  height: 15px;
  padding: 0 2px;
  line-height: 15px;
  background: #E91E63;
  color: #fff;
  font-size: 10px;
  text-align: center;
  z-index: 1;
}
.contents section.ranking section.all .images .num:before, .contents section.ranking section.all .images .num:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border: solid 5px #E91E63;
  border-bottom-color: transparent;
}
.contents section.ranking section.all .images .num:before {
  left: 0;
  border-right-color: transparent;
}
.contents section.ranking section.all .images .num:after {
  right: 0;
  border-left-color: transparent;
}
.contents section.ranking section.all .data .rate {
  overflow: hidden;
  margin-bottom: 5px;
}
.contents section.ranking section.all .data .rate .star {
  display: inline-block;
  width: 75px;
  line-height: 15px;
  padding: 3px 0 2px;
}
.contents section.ranking section.all .data .rate .value {
  display: inline-block;
  color: #E91E63;
  line-height: 15px;
}
.contents section.ranking section.all .data .rate .value .num {
  font-size: 14px;
}
.contents section.ranking section.all .data .rate .value .unit {
  font-size: 10px;
}
.contents section.ranking section.genres .title {
  line-height: 30px;
}
.contents section.ranking section.waits .thumb {
  float: left;
  width: 40px;
  height: 30px;
}
.contents section.ranking section.waits .thumb img {
  width: 40px;
  height: 30px;
}
.contents section.ranking section.waits .title {
  display: block;
  margin-left: 50px;
  line-height: 30px;
}
.contents section.ranking .more a {
  color: #E91E63;
}

/** Review components
------------------------------ **/
.contents section.review section.recents .images .rate {
  border-radius: 2px;
  background: #2196F3;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.contents section.review section.recents .images .rate .unit {
  font-size: 10px;
}
.contents section.review section.recents .data * {
  line-height: 15px;
  font-size: 12px;
}
.contents section.review section.recents .data .main {
  line-height: 20px;
  font-size: 16px;
}
.contents section.review section.recents .data .review {
  margin-top: 5px;
  margin-bottom: 5px;
}
.contents section.review section.recents .data .review .continue {
  color: #2196F3;
}
.contents section.review section.recents .data .date {
  color: #616161;
}
.contents section.review section.recents .data .official {
  color: #009688;
}
.contents .more a {
  color: #2196F3;
}

/** Index contents
------------------------------ **/
body.index .newGames h2 {
  padding: 5px 10px;
  border: none;
  background: #3F51B5;
  line-height: 15px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}
body.index section.test p.none {
  padding: 10px;
  border-radius: 2px;
  background: #EEEEEE;
  text-align: center;
}
body.index section.test .data .label {
  width: 60px;
}
body.index section.test .data .date {
  display: inline-block;
  font-size: 10px;
}
body.index section.news section.title .platformLabels {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/** Title contents
------------------------------ **/
body.titles .moreLink {
  border-top: solid 1px #BDBDBD;
  background: #EEEEEE;
}
body.titles .moreLink a {
  padding: 5px 10px;
  color: inherit;
  text-align: center;
}
body.titles .title-header {
  background: linear-gradient(#1a237e, #303f9f);
}
body.titles .title-header .title-name {
  padding: 10px;
  line-height: 1;
  font-size: 16px;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
}
body.titles .title-header .title-name span {
  display: inline-block;
}
body.titles .title-header .title-name span.official {
  line-height: 20px;
  font-size: 16px;
}
body.titles .title-header .title-name span.sub {
  line-height: 20px;
  font-size: 14px;
}
body.titles .title-header .title-name span.read {
  line-height: 15px;
  color: #EEEEEE;
  font-size: 12px;
}
body.titles .title-header .platformLabels {
  padding: 0 10px 10px;
}
body.titles .title-header .platformLabels li {
  border: solid 1px #BDBDBD;
}
body.titles .title-nav {
  position: relative;
  background: #EEEEEE;
}
body.titles .title-nav:before, body.titles .title-nav:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}
body.titles .title-nav:before {
  top: 5px;
  border-top: solid 1px #BDBDBD;
}
body.titles .title-nav:after {
  bottom: 5px;
  border-bottom: solid 1px #BDBDBD;
}
body.titles .title-nav .title-nav-wrap {
  overflow: auto;
  padding: 5px 0;
}
body.titles .title-nav ul {
  display: flex;
  flex-wrap: nowrap;
  background: linear-gradient(#ffffff, #f5f5f5);
}
body.titles .title-nav ul li {
  border-left: solid 1px #BDBDBD;
  background: linear-gradient(#ffffff, #f5f5f5);
}
body.titles .title-nav ul li:first-child {
  border-left: none;
}
body.titles .title-nav ul li a {
  padding: 0 5px;
  line-height: 30px;
  white-space: nowrap;
}
body.titles .title-nav ul li.current a {
  background: linear-gradient(#3f51b5, #1a237e);
  color: #fff;
}
body.titles .title-headline {
  padding: 10px;
  font-size: 16px;
  line-height: 1;
}
body.titles .title-headline .main {
  display: inline-block;
  line-height: 20px;
}
body.titles .title-headline .sub {
  display: inline-block;
  line-height: 15px;
  font-size: 12px;
}
body.titles section.title-summary h2.title {
  line-height: 1;
}
body.titles section.title-summary h2.title .official {
  line-height: 20px;
}
body.titles section.title-summary h2.title .read {
  line-height: 15px;
  color: #616161;
  font-size: 10px;
  font-weight: normal;
}
body.titles section.title-summary section.data .data-counts {
  display: flex;
  padding: 5px 10px;
}
body.titles section.title-summary section.data .data-counts .rate {
  flex-grow: 1;
  padding: 5px 10px;
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  background: #fff;
}
body.titles section.title-summary section.data .data-counts .rate .value {
  line-height: 20px;
  font-size: 12px;
  text-align: center;
}
body.titles section.title-summary section.data .data-counts .rate .value span.num {
  display: inline-block;
  margin: 0 5px;
  color: #F44336;
  font-size: 16px;
  font-weight: bold;
}
body.titles section.title-summary section.data .data-counts .count {
  flex-grow: 1;
  margin-left: 5px;
  padding: 5px 10px;
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  background: #fff;
  font-size: 12px;
  text-align: center;
}
body.titles section.title-summary section.data .data-counts .count .caption {
  line-height: 15px;
}
body.titles section.title-summary section.data .data-counts .count .value {
  line-height: 20px;
}
body.titles section.title-summary section.data .data-counts .count .value .num {
  font-size: 16px;
  font-weight: bold;
}
body.titles section.title-summary section.data .data-properties table {
  width: 100%;
  border-collapse: collapse;
}
body.titles section.title-summary section.data .data-properties table th, body.titles section.title-summary section.data .data-properties table td {
  padding: 5px;
  border-bottom: solid 1px #BDBDBD;
}
body.titles section.title-summary section.data .data-properties table th:only-child, body.titles section.title-summary section.data .data-properties table td:only-child {
  padding: 5px 10px;
}
body.titles section.title-summary section.data .data-properties table th {
  padding-left: 10px;
}
body.titles section.title-summary section.data .data-properties table td {
  padding-right: 10px;
}
body.titles section.title-summary section.data .data-properties table a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #2196F3;
  word-break: break-all;
}
body.titles section.title-summary section.data .data-properties .actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #EEEEEE;
}
body.titles section.title-summary section.data .data-properties .actions .vote, body.titles section.title-summary section.data .data-properties .actions .link {
  width: 49%;
}
body.titles section.title-summary section.intro .intro-body {
  padding: 10px;
}
body.titles section.title-summary section.intro .image {
  float: left;
  width: 80px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
body.titles section.title-summary section.intro .image img {
  width: 80px;
  height: 60px;
}
body.titles section.title-summary section.intro .body {
  margin-left: 90px;
}
body.titles section.bottom {
  padding: 10px;
}
body.titles section.title-spec table {
  width: 100%;
}
body.titles section.title-spec table th, body.titles section.title-spec table td {
  border-bottom: solid 1px #BDBDBD;
  padding: 5px 10px;
  vertical-align: top;
}
body.titles section.title-spec table tbody th {
  background: #F5F5F5;
}
body.titles section.title-spec table tbody td {
  background: #fff;
}
body.titles section.title-spec table tbody tr.head th {
  background: #E0E0E0;
}
body.titles section.title-spec table tbody tr.caption th {
  background: #616161;
  line-height: 15px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
body.titles section.title-spec table tfoot td {
  border: none;
  background: #F44336;
  color: #fff;
  font-size: 10px;
  text-align: center;
}
body.titles section.title-movie .video {
  padding: 10px;
  background: #000;
}
body.titles section.title-package .image .thumb img {
  height: auto;
}
body.titles section.title-package .data {
  text-align: right;
}
body.titles section.title-package .data .title {
  color: #FC9A18;
  text-align: left;
}
body.titles section.title-package .data .date {
  line-height: 15px;
  font-size: 12px;
  text-align: left;
}
body.titles section.title-package .data .price {
  display: inline-block;
  border-bottom: double 3px #F44336;
  line-height: 20px;
  color: #F44336;
  font-size: 16px;
  font-weight: bold;
}
body.titles section.title-package .data .price span.unit {
  font-size: 12px;
}
body.titles section.title-rating {
  padding: 0 10px 10px;
}
body.titles section.title-rating .counts {
  overflow: hidden;
  margin-bottom: 10px;
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  background: #fff;
}
body.titles section.title-rating .counts .rate {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: solid 1px #BDBDBD;
}
body.titles section.title-rating .counts .rate .caption {
  line-height: 25px;
  font-size: 16px;
}
body.titles section.title-rating .counts .rate .value {
  margin: 0 10px;
  line-height: 25px;
  font-size: 16px;
}
body.titles section.title-rating .counts .rate .value span.num {
  margin-right: 5px;
  line-height: 25px;
  color: #F44336;
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
}
body.titles section.title-rating .counts .rate .stars {
  display: inline-flex;
  margin: 0;
}
body.titles section.title-rating .counts .counts-bottom {
  display: flex;
}
body.titles section.title-rating .counts .counts-bottom .count {
  overflow: hidden;
  width: 50%;
  padding: 5px 10px;
  line-height: 20px;
  font-size: 12px;
}
body.titles section.title-rating .counts .counts-bottom .count .caption {
  float: left;
}
body.titles section.title-rating .counts .counts-bottom .count .value {
  float: right;
}
body.titles section.title-rating .counts .counts-bottom .count .value span.num {
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}
body.titles section.title-rating .counts .counts-bottom .count.count-review {
  border-right: solid 1px #BDBDBD;
}
body.titles section.title-rating .rates {
  margin-bottom: 10px;
}
body.titles section.title-rating .rates ul {
  overflow: hidden;
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  background: #fff;
}
body.titles section.title-rating .rates ul li {
  display: flex;
  position: relative;
  padding: 10px;
  border-bottom: solid 1px #BDBDBD;
}
body.titles section.title-rating .rates ul li:last-child {
  border-bottom: none;
}
body.titles section.title-rating .rates ul li .caption {
  flex-grow: 1;
}
body.titles section.title-rating .rates ul li .stars {
  margin: 0;
}
body.titles section.title-rating .rates ul li .num {
  width: 40px;
  margin-left: 5px;
  text-align: right;
}
body.titles section.title-review ul li {
  position: relative;
  padding: 0 5px 10px;
}
body.titles section.title-review .post {
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  z-index: 0;
}
body.titles section.title-review .post > a {
  min-height: 80px;
  padding: 10px;
}
body.titles section.title-review .post > a h3 {
  margin-left: 50px;
  margin-bottom: 5px;
  padding: 0;
  border: 0;
  background: none;
  line-height: 20px;
  font-size: 14px;
}
body.titles section.title-review .post > a p {
  margin-left: 50px;
  line-height: 15px;
  font-size: 12px;
}
body.titles section.title-review .post > a p span.continue {
  color: #2196F3;
}
body.titles section.title-review .post ul.data {
  display: flex;
  padding: 5px;
  border-top: solid 1px #BDBDBD;
  background: #EEEEEE;
}
body.titles section.title-review .post ul.data li {
  margin: 0;
  padding: 0 5px;
  line-height: 20px;
  font-size: 12px;
  white-space: nowrap;
}
body.titles section.title-review .post ul.data li:first-child {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body.titles section.title-review .post ul.data li a {
  padding: 0;
  color: inherit;
}
body.titles section.title-review .title-comp-rate {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 1;
}
body.titles section.title-review-single {
  padding: 0 10px 10px;
}
body.titles section.title-review-single h1 {
  padding: 10px 0;
  line-height: 25px;
}
body.titles section.title-review-single ul.data {
  display: flex;
  margin: 0 -5px;
}
body.titles section.title-review-single ul.data li {
  margin: 0;
  padding: 0 5px;
  line-height: 20px;
  font-size: 12px;
  white-space: nowrap;
}
body.titles section.title-review-single ul.data li:first-child {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body.titles section.title-review-single ul.data li a {
  padding: 0;
  color: inherit;
}
body.titles section.title-review-single .review {
  padding: 10px 0;
}
body.titles section.title-review-single .rate {
  position: relative;
  margin-bottom: 10px;
}
body.titles section.title-review-single .rate .points {
  margin-left: 60px;
  padding: 5px;
  border: solid 1px #BDBDBD;
  background: #fff;
  z-index: 0;
}
body.titles section.title-review-single .rate .points ul {
  display: flex;
  flex-wrap: wrap;
}
body.titles section.title-review-single .rate .points ul li {
  overflow: hidden;
  width: 50%;
  padding: 5px;
}
body.titles section.title-review-single .rate .points ul li.good {
  background: #E3F2FD;
}
body.titles section.title-review-single .rate .points ul li.bad {
  background: #F3E5F5;
}
body.titles section.title-review-single .rate .points ul li .caption {
  line-height: 20px;
  font-size: 12px;
  text-align: left;
}
body.titles section.title-review-single .rate .points ul li .num {
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
body.titles section.title-review-single .rate .points ul li .num .unit {
  font-size: 12px;
  font-weight: normal;
}
body.titles section.title-review-single .rate .title-comp-rate {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 1;
}
body.titles section.title-review-neighbors {
  padding: 0 10px 10px;
}
body.titles section.title-review-neighbors .neighbor {
  margin-bottom: 10px;
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  background: #fff;
}
body.titles section.title-review-neighbors .neighbor .caption {
  overflow: hidden;
  padding: 5px;
  line-height: 15px;
  color: #fff;
  font-size: 12px;
}
body.titles section.title-review-neighbors .neighbor .caption.caption-good {
  background: #2196F3;
}
body.titles section.title-review-neighbors .neighbor .caption.caption-bad {
  background: #9C27B0;
}
body.titles section.title-review-neighbors .neighbor .caption .rate {
  float: right;
}
body.titles section.title-review-neighbors .neighbor .review {
  padding: 10px;
}
body.titles section.title-review-neighbors .neighbor .review h3 {
  margin-bottom: 5px;
  padding: 0;
  border: 0;
  background: none;
  font-size: 14px;
}
body.titles section.title-review-neighbors .neighbor .review p {
  line-height: 15px;
  font-size: 12px;
}
body.titles section.title-review-neighbors .neighbor .review p span.continue {
  color: #2196F3;
}
body.titles section.title-review-neighbors .neighbor ul.data {
  display: flex;
  padding: 5px 10px;
  border-top: solid 1px #BDBDBD;
  background: #F5F5F5;
}
body.titles section.title-review-neighbors .neighbor ul.data li {
  line-height: 15px;
  font-size: 12px;
  white-space: nowrap;
}
body.titles section.title-review-neighbors .neighbor ul.data li:first-child {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body.titles section.title-link .entry {
  padding: 10px;
}
body.titles section.title-pc .title-pc-pickup {
  position: relative;
  padding: 10px;
}
body.titles section.title-pc .title-pc-pickup span.ribbon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  padding: 5px;
  background: #E91E63;
  line-height: 15px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  z-index: 1;
}
body.titles section.title-pc .title-pc-pickup span.ribbon:after, body.titles section.title-pc .title-pc-pickup span.ribbon:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 100%;
  border: solid 10px transparent;
  border-top-color: #E91E63;
}
body.titles section.title-pc .title-pc-pickup span.ribbon:before {
  left: 0;
  border-left-color: #E91E63;
}
body.titles section.title-pc .title-pc-pickup span.ribbon:after {
  right: 0;
  border-right-color: #E91E63;
}
body.titles section.title-pc .title-pc-pickup a.title {
  margin-left: 20px;
  margin-bottom: 5px;
  line-height: 20px;
  color: #2196F3;
  font-size: 16px;
}
body.titles section.title-pc .title-pc-pickup .image {
  float: left;
  width: 60px;
}
body.titles section.title-pc .title-pc-pickup .image img {
  max-width: 100%;
}
body.titles section.title-pc .title-pc-pickup .data {
  margin-left: 70px;
  margin-bottom: 5px;
}
body.titles section.title-pc .title-pc-pickup .data table {
  width: 100%;
  margin-bottom: 5px;
  border-collapse: collapse;
}
body.titles section.title-pc .title-pc-pickup .data table th, body.titles section.title-pc .title-pc-pickup .data table td {
  padding: 5px 0;
  border-bottom: solid 1px #BDBDBD;
  line-height: 15px;
  font-size: 12px;
}
body.titles section.title-pc .title-pc-pickup .data table td.shop a {
  display: inline;
  color: #2196F3;
}
body.titles section.title-pc .title-pc-pickup .data table td.price {
  color: #F44336;
  font-size: 16px;
  font-weight: bold;
}
body.titles section.title-pc .title-pc-pickup .data table tr:last-child td {
  border: 0;
}
body.titles section.title-pc .title-pc-pickup .special {
  overflow: hidden;
  padding: 5px;
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  background: #fff;
}
body.titles section.title-pc .title-pc-pickup .special span.caption {
  float: left;
  width: 40px;
  padding: 5px;
  line-height: 15px;
  border-radius: 3px;
  background: #616161;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
body.titles section.title-pc .title-pc-pickup .special .body {
  margin-left: 50px;
}
body.titles section.title-pcs h3.high {
  background: #FFF3E0;
  color: #FF9800;
}
body.titles section.title-pcs h3.middle {
  background: #ECEFF1;
  color: #607D8B;
}
body.titles section.title-pcs h3.low {
  background: #EFEBE9;
  color: #795548;
}
body.titles section.title-pcs dl a {
  display: inline;
  color: #2196F3;
}
body.titles section.title-pcs dl dt {
  padding: 10px 10px 5px;
  line-height: 20px;
}
body.titles section.title-pcs dl dd {
  padding: 5px 10px 10px;
  border-bottom: solid 1px #BDBDBD;
}
body.titles section.title-pcs dl dd:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
body.titles section.title-pcs dl dd .image {
  float: left;
  width: 60px;
}
body.titles section.title-pcs dl dd .image img {
  max-width: 100%;
}
body.titles section.title-pcs dl dd .data {
  margin-left: 70px;
  margin-bottom: 5px;
}
body.titles section.title-pcs dl dd .data table {
  width: 100%;
  margin-bottom: 5px;
  border-collapse: collapse;
}
body.titles section.title-pcs dl dd .data table td {
  padding: 5px 0;
  border-bottom: solid 1px #BDBDBD;
  line-height: 15px;
  font-size: 12px;
}
body.titles section.title-pcs dl dd .data table td.price {
  color: #F44336;
  font-size: 14px;
  font-weight: bold;
}
body.titles section.title-pcs dl dd .data table tr:last-child td {
  border: 0;
}

.title-comp-rate {
  width: 60px;
  padding: 5px 0;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.title-comp-rate .caption,
.title-comp-rate .icon {
  line-height: 15px;
}
.title-comp-rate .point {
  line-height: 20px;
}
.title-comp-rate .point .num {
  font-size: 14px;
  font-weight: bold;
  vertical-align: bottom;
}

.title-comp-rate-good {
  background: #2196F3;
}

.title-comp-rate-bad {
  background: #9C27B0;
}

/** Portals contents
------------------------------ **/
body.portals section.portal-about .portal-about-body {
  padding: 10px;
}
body.portals section.portal-about .portal-about-body .capture {
  float: right;
  width: 100px;
  margin-left: 5px;
  margin-bottom: 5px;
}
body.portals section.portal-about .portal-about-body p {
  margin-bottom: 5px;
}
body.portals section.portal-about .portal-about-body p:last-child {
  margin: 0;
}
body.portals section.portal-summary {
  padding: 0 10px 10px;
}
body.portals section.portal-summary .description {
  margin-bottom: 10px;
}

/** Monies contents
------------------------------ **/
body.monies section.money-doc .money-doc-body {
  padding: 10px;
}
body.monies section.money-sites ul.list li {
  padding: 10px;
  border-bottom: solid 1px #BDBDBD;
}
body.monies section.money-sites .banner {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
}
body.monies section.money-sites .title {
  margin-bottom: 5px;
}
body.monies section.money-sites .title a {
  color: #2196F3;
}
body.monies section.money-sites .description p {
  margin-bottom: 5px;
}
body.monies section.money-sites .description p:last-of-type {
  margin: 0;
}
body.monies section.money-categories ul.list > li {
  border-bottom: solid 1px #BDBDBD;
}
body.monies section.money-categories ul.list > li:last-child {
  border-bottom: 0;
}
body.monies section.money-categories ul.list > li a {
  overflow: hidden;
  padding: 10px;
}
body.monies section.money-categories .title {
  margin-bottom: 5px;
  color: #2196F3;
}
body.monies section.money-categories .description p {
  margin-bottom: 5px;
}
body.monies section.money-categories .description p:last-of-type {
  margin: 0;
}

/** PCs contents
------------------------------ **/
body.pcs section.pc-titles .data .counts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
body.pcs section.pc-titles .data .counts .count {
  overflow: hidden;
  width: 49%;
  padding: 5px;
  background: #fff;
  border: solid 1px #BDBDBD;
  border-radius: 2px;
  font-size: 12px;
}
body.pcs section.pc-titles .data .counts .count span {
  display: inline-block;
}
body.pcs section.pc-titles .data .counts .count span.caption {
  float: left;
}
body.pcs section.pc-titles .data .counts .count span.number {
  float: right;
  font-weight: bold;
}
body.pcs section.pc-titles .data .counts .count.count-note {
  border-top: solid 1px #BDBDBD;
}
body.pcs section.pc-titles .data .counts .count.count-none {
  background: #EEEEEE;
  color: #616161;
}
body.pcs section.pc-titles .data .price {
  overflow: hidden;
  line-height: 20px;
  text-align: right;
}
body.pcs section.pc-titles .data .price .caption {
  display: inline-block;
  width: 40px;
  margin-right: 5px;
  border-radius: 2px;
  background: #F44336;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
body.pcs section.pc-titles .data .price .number {
  display: inline-block;
  color: #F44336;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}
body.pcs section.pc-titles .data .price .number .unit {
  font-size: 12px;
}

/** Links contents
------------------------------ **/
body.links section.sites ul.categories {
  display: flex;
  overflow: auto;
  width: 100%;
  background: #EEEEEE;
  border-top: solid 1px #BDBDBD;
  border-bottom: solid 1px #BDBDBD;
  -webkit-overflow-scrolling: touch;
}
body.links section.sites ul.categories li {
  float: left;
  border-right: solid 1px #BDBDBD;
}
body.links section.sites ul.categories li:last-child {
  border-right: none;
}
body.links section.sites ul.categories li a, body.links section.sites ul.categories li span {
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  white-space: nowrap;
}
body.links section.sites ul.categories li.current span {
  background: #2196F3;
  color: #fff;
  font-weight: bold;
}

/** Abouts contents
------------------------------ **/
.contents section.about-doc dl {
  padding: 0 10px;
}
.contents section.about-doc dl dt {
  margin-bottom: 5px;
  font-weight: bold;
}
.contents section.about-doc dl dd {
  margin-bottom: 10px;
}
.contents section.about-doc dl dd:last-child {
  margin: 0;
}
.contents section.about-doc p {
  padding: 10px;
}
.contents section.about-sitemap ul {
  display: flex;
  flex-wrap: wrap;
}
.contents section.about-sitemap ul li {
  width: 50%;
}
.contents section.about-sitemap ul li a {
  padding: 10px;
  line-height: 20px;
  color: #2196F3;
}
