@charset "UTF-8";
/* CSS Document */

/*
	@ Use : Titles
	
	* Theme color	: H = 200
	* Link blue		: #3399cc
	* Link red		: #ff3366
*/

/**
 * Common classes
 *
 * @h2
 * @officialLink
 * @h2.title
 * @titleMenu
 * @details
 * @voteButton
 * @relations
 * @copyright
 */

.content h2
{
	margin:0;
	padding:0;
	border:none;
}
.content .description
{
	margin:0;
	padding:2px 10px;
	line-height:16px;
	background:#666;
	color:#fff;
}
.content .voteWait
{
	padding:10px 20px;
	font-size:14px;
}
.content .singleShare
{
	margin-bottom:10px;
}


/** Official & Details Link
------------------------------ **/

.content .officialLink
{
	width:500px;
	height:50px;
	margin:0 auto;
}
.officialLink a,
.officialLink span
{
	display:block;
	width:370px;
	height:50px;
	padding:0 10px 0 120px;
	line-height:50px;
	background-position:top;
	background-image:url(/img/design/titles_common_officiallink_back.gif);
	color:#fff;
	font-size:18px;
	text-decoration:none;
	text-align:right;
}
.officialLink a:hover
{
	background-position:bottom;
}
.officialLink a span
{
	color:#eee;
	font-size:10px;
}
.officialLinkFrame
{
	overflow:hidden;
	width:500px;
	height:50px;
	padding:5px;
	background:url(/img/design/titles_common_officiallink_frame.gif);
}

.content .detailsLink a
{
	display:block;
	overflow:hidden;
	width:380px;
	height:40px;
	padding:0 10px 0 120px;
	background:url(/img/design/titles_common_detailslink_back.gif);
	line-height:40px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-align:right;
	text-decoration:none;
}


/** Title
------------------------------ **/

h2.title
{
	margin-bottom:10px;
	line-height:20px;
	font-size:18px;
	font-weight:bold;
}
h2.title a
{
	color:#333;
	text-decoration:none;
}
h2.title a:hover
{
	text-decoration:underline;
}
h2.title span
{
	font-size:12px;
	font-weight:normal;
}
h2.title span.read
{
	display:block;
	color:#666;
}


/** Menu
------------------------------ **/

.titlesMenu
{
	width:490px;
	height:24px;
	margin-bottom:10px;
	padding:3px 10px;
	background:url(/img/design/titles_menu_back.gif);
}
.titlesMenu li
{
	display:inline;
	float:left;
}
.titlesMenu li a
{
	display:block;
	float:left;
	height:24px;
	padding:0 9px;
	border-left:solid 1px #fff;
	border-right:solid 1px #ccc;
	line-height:24px;
	color:#333;
	font-size:12px;
	text-decoration:none;
}
.titlesMenu li a:hover
{
	color:#39c;
	text-decoration:underline;
}
.titlesMenu li.active a
{
	background:url(/img/design/titles_menu_active.gif) center;
	color:#fff;
}


/** Details
------------------------------ **/

.details
{
	background:url(/img/design/titles_details_back_body.gif);
}
.details .body
{
	padding:0 5px 5px;
	background:url(/img/design/titles_details_back_bottom.gif) bottom no-repeat;
}
.details p.title
{
	width:490px;
	margin:0 0 5px;
	padding:2px 5px;
	line-height:16px;
	background:#999;
	color:#fff;
	font-weight:bold;
}
.details p.title a
{
	line-height:16px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}
.details p.title a span
{
	padding-left:5px;
	color:#ccc;
	font-size:10px;
	font-weight:normal;
}
.details .thumb
{
	float:left;
	width:160px;
	padding:0 5px;
	margin-bottom:5px;
}
.details .description
{
	float:right;
	width:320px;
	margin:0 0 5px;
	padding:0 5px;
	background:none;
	line-height:20px;
	color:#333;
}
.details .description p
{
	margin-bottom:5px;
}
.details .properties
{
	clear:both;
	border-collapse:collapse;
}
.details .properties th,
.details .properties td
{
	padding:0 5px 5px;
}
.details .properties td .point
{
	font-size:16px;
	font-weight:bold;
}
.details .buttons
{
	overflow:hidden;
	width:500px;
	height:30px;
	margin:0;
	padding:0;
	border-top:5px solid #ccc;
}
.details .buttons li
{
	float:left;
	width:250px;
	height:30px;
}
.details .buttons li a
{
	display:block;
	width:250px;
	height:30px;
}
.details .buttons li.votes a
{
	background:url(../img/design/titles_details_button_votes_hover.gif) no-repeat;
}
.details .buttons li.links a
{
	background:url(../img/design/titles_details_button_links_hover.gif) no-repeat;
}
.details .buttons li a:hover img
{
	visibility:hidden;
}


/** Vote button
------------------------------ **/
.voteButton
{
	margin-bottom:10px;
}
.voteButton a
{
	display:block;
	width:510px;
	height:40px;
	background:url(../img/design/titles_common_button_vote_hover.gif);
}
.voteButton a:hover img
{
	visibility:hidden;
}


/** Relation
------------------------------ **/

.relations
{
	background:url(/img/design/titles_relations_body.gif);
}
.relations .body
{
	padding-bottom:5px;
	background:url(/img/design/titles_relations_bottom.gif) bottom no-repeat;
}
.relations .description
{
	background:none;
	color:#333;
}
.relations li
{
	margin:0;
	background:url(/img/design/titles_relations_frame_body.gif);
}
.relations li .top
{
	background:url(/img/design/titles_relations_frame_top.gif) top no-repeat;
}
.relations li .bottom
{
	padding:10px;
	background:url(/img/design/titles_relations_frame_bottom.gif) bottom no-repeat;
}
.relations li h3
{
	float:right;
	width:380px;
	margin:0;
	padding:2px 0;
	line-height:16px;
	background:none;
	font-size:14px;
}
.relations li h3 a
{
	text-decoration:none;
}
.relations li h3 span
{
	display:block;
	line-height:12px;
	color:#999;
	font-size:10px;
	font-weight:normal;
}
.relations li .thumb
{
	float:left;
	width:100px;
}
.relations li .data
{
	float:right;
	width:380px;
}
.relations li table
{
	border-collapse:collapse;
}
.relations li table th
{
	padding-left:15px;
	padding-right:5px;
	background:url(/img/design/icon_star.gif) left center no-repeat;
	line-height:20px;
	color:#666;
	font-weight:normal;
}
.relations li table td
{
	padding-right:15px;
	color:#f36;
}
.relations li p.icon_official
{
	float:right;
	width:290px;
	margin:0;
}


/** Copyright
------------------------------ **/

.copyright
{
	padding:2px 7px;
	border:double 3px #ccc;
	background:#eee;
}
.copyright p
{
	margin:0;
	color:#666;
	font-size:10px;
	line-height:15px;
}


/**
 * Index classes
 * 
 * @package
 * @specs
 * @video
 * @mashup
 */

/** Packages
------------------------------ **/

.packages p.description
{
	margin-bottom:5px;
}
.packages .items
{
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:dotted 1px #666;
}
.packages .items h3
{
	float:right;
	width:355px;
	margin-bottom:5px;
	padding:2px 0 2px 25px;
	background:url(/img/design/titles_packages_caption.gif) top left no-repeat;
}
.packages .items h3 a
{
	color:#f60;
}
.packages .items .thumb
{
	float:left;
	width:120px;
	max-width:120px;
	background:#eee;
	text-align:center;
}
.packages .items .thumb img
{
	max-width:120px;
}
.packages .items .data
{
	float:right;
	width:355px;
	padding-left:25px;
}
.packages .items .data p
{
	margin:0;
}
.packages .items .data p.price
{
	margin-bottom:5px;
	padding-left:20px;
	line-height:16px;
	background:url(../img/design/icon_amazon.gif) left center no-repeat;
	color:#f03;
	font-size:14px;
	font-weight:bold;
}
.packages .items .data p.rakuten
{
	padding-left:20px;
	line-height:16px;
	background:url(../img/design/icon_rakuten.gif) left center no-repeat;
}


/** Specs
------------------------------ **/

.specs p.description
{
	margin-bottom:5px;
}
.specs h3
{
	margin-bottom:0;
	padding:2px 10px 2px 25px;
	background:url(/img/design/titles_specs_caption.gif) top left no-repeat;
}
.specs table
{
	width:510px;
	margin:0 auto 10px;
	border-collapse:collapse;
}
.specs table th,
.specs table td
{
	padding:5px;
	vertical-align:top;
	border:solid 1px #999;
}
.specs table th
{
	width:80px;
	background:#eee;
}
.specs table td
{
	width:205px;
}
.specs table td.eq
{
	width:auto;
}
.specs table thead td
{
	width:auto;
	border:none;
}
.specs table thead th
{
	width:auto;
	background:#ddd;
}
.specs table tfoot th,
.specs table tfoot td
{
	font-size:10px;
}
.specs .pcsLink
{
	padding-left:40px;
	background:url(../img/design/icon_pc_desktop.gif) center left no-repeat;
	line-height:20px;
	font-size:14px;
}
.specs .pcsLink a
{
	font-size:14px;
	font-weight:bold;
}


/** Video
------------------------------ **/

.video
{
	padding-bottom:5px;
	background:#666;
	color:#fff;
}
.video .movie
{
	width:500px;
	margin:0 auto 10px;
}
.video p.none
{
	margin-bottom:10px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
}
.video p.search
{
	margin:0;
}
.video p.search a
{
	display:block;
	overflow:hidden;
	width:490px;
	height:30px;
	margin:0 auto;
	padding:0 5px;
	line-height:30px;
	background:url(/img/design/titles_video_button.gif);
	text-align:center;
	color:#333;
	text-decoration:none;
}


/** Mashup
------------------------------ **/

.mashup h3 span
{
	font-size:10px;
	font-weight:normal;
	color:#999;
}
/** Tweet **/
.mashup .twtr-hd h3,
.mashup .twtr-hd h4
{
	background:none;
}
/** News **/
.mashup #newsResult h4
{
	font-size:12px;
}
.mashup #newsResult p.content
{
	margin-bottom:5px;
}
.mashup #newsResult p.publish
{
	border-bottom:dotted 1px #666;
	color:#333;
	font-size:10px;
	font-weight:bold;
	text-align:right;
}


/**
 * Ratings classes
 * 
 * @ratings
 * - termTabs
 * - points
 * - items
 */

.ratings
{
	padding-bottom:5px;
	background:#666;
}
/** Term tabs
------------------------------ **/
.ratings .termTabs
{
	width:500px;
	height:20px;
	margin:0 5px;
}
.ratings .termTabs li
{
	float:left;
	width:90px;
	height:20px;
}
.ratings .termTabs li a
{
	position:relative;
	display:block;
	overflow:hidden;
	width:90px;
	height:20px;
}
.ratings .termTabs li a img
{
	position:absolute;
	left:0;
}
.ratings .termTabs li a:hover img,
.ratings .termTabs li a.active img
{
	left:-90px;
}
/** Points
------------------------------ **/
.ratings .points
{
	overflow:hidden;
	width:500px;
	height:300px;
	margin:0 5px 5px;
	background:#fff;
}
.ratings .points .left
{
	float:left;
	width:220px;
}
.ratings .points .left .total
{
	width:200px;
	height:120px;
	padding:10px;
	background:url(/img/design/titles_ratings_total_back.gif);
}
.ratings .points .left .total .label
{
	height:30px;
	text-align:center;
}
.ratings .points .left .total .point
{
	height:50px;
	margin:0;
	padding:0;
	line-height:50px;
	color:#f36;
	font-size:40px;
	font-weight:bold;
	text-align:center;
}
.ratings .points .left .total .point span
{
	color:#666;
	font-size:14px;
}
.ratings .points .left .counts
{
	width:220px;
}
.ratings .points .left .counts li
{
	margin:0;
	padding-left:80px;
	line-height:20px;
}
.ratings .points .left .counts li.reviewCount
{
	background:url(/img/design/titles_ratings_count_review.gif);
}
.ratings .points .left .counts li.ratingCount
{
	background:url(/img/design/titles_ratings_count_rating.gif);
}
.ratings .points .right
{
	float:right;
	width:280px;
}
.ratings .points .right .itemStars
{
	width:270px;
	margin:0 5px;
	border-collapse:collapse;
}
.ratings .points .right .itemStars th,
.ratings .points .right .itemStars td
{
	padding:5px 0 4px;
	border-bottom:dotted 1px #333;
	font-weight:normal;
}
.ratings .points .right .itemStars th
{
	width:170px;
}
.ratings .points .right .itemStars td
{
	width:100px;
}
/** Items
------------------------------ **/
.ratings .items
{
	overflow:hidden;
	width:500px;
	margin:0 5px;
	background:#fff;
}
.ratings .items .itemChart
{
	float:left;
	width:250px;
	background:url(/img/design/titles_ratings_items_body.gif);
}
.ratings .items .itemChart h3
{
	margin:0;
	padding:10px 10px 5px;
	background:url(/img/design/titles_ratings_items_top.gif) top no-repeat;
	font-size:14px;
}
.ratings .items .itemChart .body
{
	padding:0 10px 5px;
	background:url(/img/design/titles_ratings_items_bottom.gif) bottom no-repeat;
}
.ratings .items .itemChart .body table
{
	width:230px;
	margin-bottom:5px;
	border-collapse:collapse;
}
.ratings .items .itemChart .body table th,
.ratings .items .itemChart .body table td
{
	height:20px;
	line-height:20px;
	border-bottom:dotted 1px #999;
}
.ratings .items .itemChart .body table th
{
}
.ratings .items .itemChart .body table td
{
	text-align:right;
}


/**
 * Reviews classes
 * 
 * @reviews
 * - voteTabs
 * - items
 */

.reviews
{
	padding-bottom:5px;
	background:#666;
}
.reviews .noVotes
{
	margin:0;
	padding:10px;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
/** Vote tabs
------------------------------ **/
.reviews .voteTabs
{
	width:500px;
	height:20px;
	margin:0 5px;
}
.reviews .voteTabs li
{
	float:left;
	width:140px;
	height:20px;
}
/** Items
------------------------------ **/
.reviews .items
{
	background:url(/img/design/titles_reviews_list_body.gif);
}

.reviews .items .item
{
	padding-bottom:5px;
	background:url(/img/design/titles_reviews_list_bottom.gif) bottom no-repeat;
}
.reviews .items .item h3
{
	height:20px;
	margin:0 0 5px;;
	padding:5px;
	background:url(/img/design/titles_reviews_list_top.gif) top no-repeat;
	font-size:14px;
	font-weight:normal;
}
.reviews .items .item h3 a
{
	display:block;
	width:490px;
	padding:0 5px;
	background:url(/img/design/titles_reviews_list_header.gif);
	color:#fff;
	text-decoration:none;
}
.reviews .items .item h3 a:hover
{
	text-decoration:underline;
}
.reviews .items .item .body
{
	width:490px;
	margin:auto;
}
.reviews .items .item .total
{
	float:left;
	width:100px;
	height:70px;
	padding:4px 9px;
	border:solid 1px #999;
}
.reviews .items .item .total p
{
	margin:0;
	padding:0;
}
.reviews .items .item .total .label
{
	height:20px;
	line-height:20px;
	color:#7a993d;
	font-size:16px;
	text-align:center;
}
.reviews .items .item .total .point
{
	height:30px;
	line-height:30px;
	color:#f36;
	font-size:24px;
	font-weight:bold;
	text-align:center;
}
.reviews .items .item .total .point span
{
	font-size:12px;
	color:#666;
}
.reviews .items .item p.text
{
	float:right;
	width:360px;
	line-height:20px;
}
.reviews .items .item .footer
{
	clear:both;
	border-collapse:collapse;
}
.reviews .items .item .footer th,
.reviews .items .item .footer td
{
	line-height:20px;
}
.reviews .items .item .footer td
{
	padding:0 10px 0 5px;
}


/**
 * Single vote classes
 * 
 * @single
 * - data
 * - review
 * - points
 * - neighbors
 */

.single h2
{
	padding:5px 5px 5px 35px;
	line-height:20px;
	background:url(../img/design/icon_review30.gif) left top no-repeat;
	font-size:18px;
}
/** Data
------------------------------ **/
.single .data
{
	border-collapse:collapse;
}
.single .data th,
.single .data td
{
	line-height:20px;
}
.single .data td
{
	padding:0 10px 0 5px;
}
/** Review
------------------------------ **/
.single h4.title
{
	line-height:20px;
	font-size:12px;
}
.single p.review
{
	padding:10px 0;
	font-size:14px;
	line-height:25px;
}
/** Points
------------------------------ **/
.single .points
{
	margin-bottom:10px;
	background:url(../img/design/titles_reviews_singlepoints_body.gif);
}
.single .points .top
{
	width:240px;
	height:30px;
	margin-bottom:5px;
	padding:0 260px 0 10px;
	background:url(../img/design/titles_reviews_singlepoints_top.gif);
}
.single .points .top .total
{
	width:240px;
	height:30px;
	margin-bottom:5px;
	border-collapse:collapse;
}
.single .points .top .total th,
.single .points .top .total td
{
	font-size:16px;
}
.single .points .top .total th
{
	width:80px;
	color:#7a993d;
	text-align:center;
}
.single .points .top .total td.star
{
	width:100px;
}
.single .points .top .total td.point
{
	width:60px;
	color:#f36;
	font-weight:bold;
	text-align:center;
}
.single .points .body
{
	padding-bottom:10px;
	background:url(../img/design/titles_reviews_singlepoints_bottom.gif) bottom no-repeat;
}
.single .points .body .items
{
	margin:auto;
	border-collapse:collapse;
}
.single .points .body .items th,
.single .points .body .items td
{
	width:48px;
	border:solid 1px #999;
	text-align:center;
}
.single .points .body .items th
{
	background:#eee;
}
/** Neighbors
------------------------------ **/
.neighbors
{
	margin-top:10px;
}
.neighbors .prev
{
	float:left;
}
.neighbors .next
{
	float:right;
}
.neighbors .neighbor
{
	width:250px;
	background:url(../img/design/titles_reviews_neighbor_body.gif);
}
.neighbors .neighbor h3
{
	margin:0;
	padding:0;
	background:none;
}
.neighbors .neighbor .body
{
	padding:5px 10px 10px;
	background:url(../img/design/titles_reviews_neighbor_bottom.gif) bottom no-repeat;
}
.neighbors .neighbor .body .total
{
	margin-bottom:10px;
	border-collapse:collapse;
}
.neighbors .neighbor .body .total th,
.neighbors .neighbor .body .total td
{
	line-height:20px;
}
.neighbors .neighbor .body .total th
{
	color:#7a993d;
}
.neighbors .neighbor .body .total td.star
{
	width:50px;
	padding:0 5px;
}
.neighbors .neighbor .body .total td.point
{
	color:#f36;
}
.neighbors .neighbor .body p.review
{
	margin-bottom:10px;
	padding:0;
	line-height:15px;
	font-size:12px;
}
.neighbors .neighbor .body .footer
{
	border-collapse:collapse;
}
.neighbors .neighbor .body .footer th,
.neighbors .neighbor .body .footer td
{
	line-height:20px;
}
.neighbors .neighbor .body .footer td
{
	padding-right:10px;
}



/**
 * Events classes
 * 
 * @events
 * - eventList
 */
.events
{
	padding-bottom:5px;
	background:#666;
}
.events .noEvents
{
	margin:0;
	padding:10px;
	text-align:center;
	color:#fff;
}
/** Event list
------------------------------ **/
.events .eventsList
{
	margin:0;
	padding:0;
}
.events .eventsList li
{
	width:490px;
	margin:0 5px 5px;
	padding:5px;
	border:none;
	background:#fff;
}
.events .eventsList li h3
{
	margin:0 0 5px;
	padding:0;
	background:none;
	line-height:20px;
	font-size:14px;
}
.events .eventsList li .description
{
	margin:0 0 5px;
	padding:0 0 5px;
	border-bottom:dotted 1px #999;
	line-height:20px;
	background:none;
	color:#333;
}
.events .eventsList li .data
{
border-collapse:collapse;
}
.events .eventsList li .data th
{
	padding-left:25px;
	background:url(../img/design/icon_date20.gif) left top no-repeat;
	font-weight:bold;
}


/**
 * Single event classes
 * 
 * @single
 * - data
 * - review
 * - points
 * - neighbors
 */

.event h2
{
	margin-bottom:5px;
	padding:5px 5px 5px 35px;
	border-bottom:double 5px #ccc;
	line-height:20px;
	background:url(../img/design/icon_news30.gif) left top no-repeat;
	font-size:16px;
}
.event h3
{
	margin:20px 0 10px;
	font-size:14px;
}
/** Data
------------------------------ **/
.event .data
{
	margin-bottom:20px;
	border-collapse:collapse;
}
.event .data th,
.event .data td
{
	line-height:20px;
}
.event .data th
{
	padding-left:25px;
	background:url(../img/design/icon_date20.gif) left top no-repeat;
	font-weight:bold;
}
.event .data td
{
	padding:0 10px 0 5px;
}
/** Review
------------------------------ **/
.event .summary,
.event .details
{
	padding:10px 0;
	font-size:14px;
	line-height:25px;
	background:none;
}
.event .press
{
	margin-bottom:20px;
	padding:9px;
	border:dotted 1px #999;
	background:#eee;
}
.event .copyright
{
	margin-bottom:10px;
}


/** Points
------------------------------ **/
.event .points
{
	margin-bottom:10px;
	background:url(../img/design/titles_reviews_singlepoints_body.gif);
}
.event .points .top
{
	width:240px;
	height:30px;
	margin-bottom:5px;
	padding:0 260px 0 10px;
	background:url(../img/design/titles_reviews_singlepoints_top.gif);
}
.event .points .top .total
{
	width:240px;
	height:30px;
	margin-bottom:5px;
	border-collapse:collapse;
}
.event .points .top .total th,
.event .points .top .total td
{
	font-size:16px;
}
.event .points .top .total th
{
	width:80px;
	color:#7a993d;
	text-align:center;
}
.event .points .top .total td.star
{
	width:100px;
}
.event .points .top .total td.point
{
	width:60px;
	color:#f36;
	font-weight:bold;
	text-align:center;
}
.event .points .body
{
	padding-bottom:10px;
	background:url(../img/design/titles_reviews_singlepoints_bottom.gif) bottom no-repeat;
}
.event .points .body .items
{
	margin:auto;
	border-collapse:collapse;
}
.event .points .body .items th,
.event .points .body .items td
{
	width:48px;
	border:solid 1px #999;
	text-align:center;
}
.event .points .body .items th
{
	background:#eee;
}


/**
 * Pcs classes
 * 
 * @pcs
 * - pickup
 * - list
 */
.pcs .description
{
	margin-bottom:10px;
}
.pcs .noData
{
	margin:0;
	padding:10px;
	font-weight:bold;
	text-align:center;
	color:red;
}
/** Pickup
------------------------------ **/
.pcs .pickup
{
	margin-bottom:20px;
}
.pcs .pickup h3
{
	margin-bottom:10px;
	padding:5px 0 5px 50px;
	background:url(../img/design/titles_pcs_icon_pickup.gif) top left no-repeat;
	line-height:20px;
	font-size:16px;
}
.pcs .pickup table
{
	width:510px;
	margin-bottom:10px;
	border-collapse:collapse;
	table-layout:fixed;
}
.pcs .pickup table th,
.pcs .pickup table td
{
	padding:5px;
	border-bottom:dotted 1px #999;
	vertical-align:top;
}
.pcs .pickup table th
{
	width:100px;
}
.pcs .pickup table td.image
{
	width:160px;
	padding:0;
	text-align:center;
}
.pcs .pickup table td.image img
{
	max-width:160px;
	max-height:160px;
}
.pcs .pickup table td.price
{
	font-weight:bold;
	font-size:16px;
	color:#f03;
}
.pcs .pickup .present
{
	width:510px;
	margin-bottom:10px;
	background:url(../img/design/titles_pcs_present_body.gif);
}
.pcs .pickup .present h4
{
	padding:10px 20px 10px 80px;
	background:url(../img/design/titles_pcs_present_top.gif) top no-repeat;
	line-height:20px;
	color:#999;
	text-align:right;
	font-size:12px;
}
.pcs .pickup .present .body
{
	width:410px;
	padding:0 20px 20px 80px;
	background:url(../img/design/titles_pcs_present_bottom.gif) bottom no-repeat;
}
/** List
------------------------------ **/
.pcs .list h3
{
	padding-left:40px;
	font-size:14px;
	line-height:30px;
}
.pcs .list h3.desktop
{
	background:url(../img/design/icon_pc_desktop.gif) left top no-repeat;
}
.pcs .list h3.note
{
	background:url(../img/design/icon_pc_note.gif) left top no-repeat;
}
.pcs .list table
{
	width:510px;
	margin-bottom:10px;
	border-collapse:collapse;
	table-layout:fixed;
}
.pcs .list table th,
.pcs .list table td
{
	padding:5px;
	border:solid 1px #ccc;
	text-align:left;
	vertical-align:top;
}
.pcs .list table tr.grade th.high
{
	background:#fff5e5;
	color:#f60;
}
.pcs .list table tr.grade th.middle
{
	background:#eee;
	color:#333;
}
.pcs .list table tr.grade th.low
{
	background:#e5d4cf;
	color:#c30;
}
.pcs .list table th.pickup
{
	padding-right:50px;
	background:url(/img/design/titles_pcs_icon_pickup.gif) center right no-repeat;
}
.pcs .list table td.image
{
	width:100px;
	padding:0;
	text-align:center;
}
.pcs .list table td.image img
{
	max-width:100px;
	max-height:100px;
}
.pcs .list table td.price
{
	font-weight:bold;
	color:#f03;
}

.pcs .shopPageCheck
{
	padding:7px;
	border:double 3px red;
	line-height:20px;
	color:red;
}



/**
 * Links classes
 * 
 * @links
 * - linksList
 * - entry
 */
.links
{
	padding-bottom:5px;
	background:#666;
}
.links .noLinks
{
	margin:0;
	padding:10px;
	text-align:center;
	color:#fff;
}
/** Links list
------------------------------ **/
.links .linksList
{
	margin:0;
	padding:0;
}
.links .linksList li
{
	width:490px;
	margin:0 5px 5px;
	padding:5px;
	border:none;
	background:#fff;
}
.links .linksList li h3
{
	float:right;
	width:360px;
	margin:0;
	padding:0;
	background:none;
	line-height:20px;
	font-size:14px;
}
.links .linksList li .thumb
{
	float:left;
	width:120px;
	margin:0;
	padding:0;
}
.links .linksList li .description
{
	float:right;
	width:360px;
	margin:0;
	padding:0;
	line-height:15px;
	background:none;
	color:#333;
}
.links .linksList li .report
{
	float:right;
	width:360px;
	margin:0;
	padding:0;
	font-size:10px;
	text-align:right;
}
.links .linksList li .report a
{
	color:#999;
}
.links .entryButton
{
	width:500px;
	margin:auto;
}
.links .entryButton a
{
	display:block;
	width:500px;
	height:30px;
	background:url(../img/design/titles_links_button_entry_hover.gif) no-repeat;
}
.links .entryButton a:hover img
{
	visibility:hidden;
}


/**
 * Searchs classes
 * 
 * $MBS elements
 * - #titlesSearchContainer
 * - #searchTabs
 * - resultTable
 */
 
#titlesSearchContainer
{
	width:510px;
}
/** Search tabs
------------------------------ **/
#searchTabs
{
	width:510px;
	height:30px;
	margin-bottom:10px;
}
#searchTabs li
{
	float:left;
	width:80px;
	height:30px;
	margin-right:5px;
}
#searchTabs li a
{
	display:block;
	width:80px;
	height:30px;
}
#searchTabs li.movie a
{
	background:url(/img/design/titles_search_tabs_movie_active.gif) center no-repeat;
}
#searchTabs li.blog a
{
	background:url(/img/design/titles_search_tabs_blog_active.gif) center no-repeat;
}
#searchTabs li a.active img
{
	visibility:hidden;
}

.searchs .description
{
	margin-bottom:10px;
}
/** Result table
------------------------------ **/
.searchResult table
{
	width:510px;
	border-collapse:collapse;
}
.searchResult table td
{
	padding:5px;
	vertical-align:top;
	border-bottom:dotted 1px #999;
}
.searchResult table td.thumb
{
	width:80px;
	padding-right:10px;
}
.searchResult table td.data p
{
	margin:0;
}
.searchResult table td.data p.title
{
	font-weight:bold;
}
.searchResult table td.data p.description
{
	margin:0;
	padding:0;
	background:none;
	color:#333;
}