
/** Side contents
------------------------------ **/
.contents-side
{
	position: relative;

	section
	{
		margin-bottom: 20px;
		background: $gm-color-grey-200;
		border-radius: 3px;

		@include transition(box-shadow .2s);

		&:hover
		{
			box-shadow: 0 2px 3px 0 $color-shadow;
		}

		h1
		{
			padding: 5px 10px;
			border-bottom: solid 2px;

			span
			{
				display: block;

				&.main
				{
					line-height: 20px;
				}
				&.sub
				{
					line-height: 15px;
					font-size: 10px;
				}
			}
		}

		ul
		{
			padding: 5px 0;

			li
			{
				position: relative;

				&:before
				{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 100%;
					background: $gm-color-grey-700;
					z-index: 0;

					@include transition(width .3s);
				}

				a
				{
					display: block;
					position: relative;
					padding: 5px 10px;
					line-height: 15px;
					color: inherit;
					font-size: 12px;
					text-decoration: none;
					z-index: 1;

					&:hover
					{
						color: $color-white;
						text-shadow: 1px 1px $color-shadow;
					}
				}

				&:hover
				{
					&:before
					{
						width: 100%;
					}
				}
			}
		}
		//section classes
		&.pr
		{
			background: $gm-color-grey-900;
			padding: 5px;

			h1
			{
				margin-bottom: 5px;
				padding: 0;
				border: none;
				line-height: 20px;
				font-size: 14px;

				a
				{
					color: $gm-color-pink-A100;
				}
			}

			.banner
			{
				margin-bottom: 5px;
				text-align: center;

				img
				{
					max-width: 100%;
				}
			}
			.comment
			{
				line-height: 15px;
				color: $color-white;
				font-size: 12px;
			}
		}
		&.genres
		{
			h1
			{
				border-color: $color-theme-genre;
			}
			ul li:before
			{
				background-color: $color-theme-genre;
			}
		}
		&.styles
		{
			h1
			{
				border-color: $color-theme-style;
			}
			ul li:before
			{
				background-color: $color-theme-style;
			}
		}
		&.services
		{
			h1
			{
				border-color: $color-theme-service;
			}
			ul li:before
			{
				background-color: $color-theme-service;
			}
		}
		&.sites
		{
			h1
			{
				border-color: $gm-color-lime-700;
			}
			ul li:before
			{
				background-color: $gm-color-lime-700;
			}
		}
		&.shops
		{
			h1
			{
				border-color: $gm-color-orange-500;
			}
			ul li:before
			{
				background-color: $gm-color-orange-500;
			}
		}
		&.feeds
		{
			h1
			{
				border-color: $color-theme-feed;
			}
			ul li:before
			{
				background-color: $color-theme-feed;
			}
		}
		&.ranking
		{
			margin-bottom: 40px;
			
			h1
			{
				border-color: $color-theme-ranking;
			}
			ul li
			{
				&:before
				{
					background-color: $color-theme-ranking;
				}
				a
				{
					height: 30px;
					padding: 5px 10px;
					line-height: 1;

					.image
					{
						position: relative;
						float: left;
						width: 40px;
					}

					.title
					{
						overflow: hidden;
						float: right;
						width: 90px;
						height: 30px;
						line-height: 15px;
					}
				}
				
				&:nth-child(#{'-n+10'}) .image:after
				{
					display: block;
					position: absolute;
					top: -5px;
					left: -10px;
					width: 20px;
					height: 20px;
					border-radius: 0 0 20px 0;
					background: $color-theme-ranking;
					line-height: 15px;
					color: $color-white;
					font-size: 10px;
					font-weight: bold;
					text-align: center;
					text-indent: -2px;
				}
				@for $i from 1 through 10
				{
					&:nth-child(#{$i}) .image:after 
					{
						content: "#{$i}";
					}
				}
			}

			.more
			{
				border-bottom: solid 1px $color-theme-ranking;

				a
				{
					display: block;
					margin: 0 20px;
					line-height: 19px;
					border-radius: 3px 3px 0 0;
					background: $color-theme-ranking;
					color: $color-white;
					font-size: 12px;
					text-align: center;
					text-decoration: none;
				}
			}
		}
	}

	//floating
	.floating
	{
		&.floating-active
		{
			position: fixed;
			bottom: 0;
		}

		&.floating-limited
		{
			position: absolute;
		}
	}
}
