
/** Index contents
------------------------------ **/
body.index
{
	//new games
	.newGames
	{
		height: 240px;
		background: $gm-color-grey-700;
		@include background(linear-gradient($gm-color-grey-700, $gm-color-grey-800));

		.newGames-body
		{
			@include wrapped-body-xl;
		}

		.thumbs
		{
			float: left;
			width: 650px;

			ul
			{
				margin-left: -5px;
				padding-top: 15px;

				li
				{
					float: left;
					width: 130px;
					height: 100px;
					margin-bottom: 10px;

					a
					{
						display: block;
						width: 120px;
						height: 90px;
						padding: 5px;

						@include transition(background .2s);
					}

					a:hover,
					&.current a
					{
						background: $color-primary;
					}
				}
			}
		}

		.slide
		{
			overflow: hidden;
			float: right;
			width: 490px;
			height: 240px;
			background: $color-black;

			ul
			{
				li
				{
					float: left;
					width: 490px;
					height: 240px;

					a
					{
						display: block;
						width: 470px;
						height: 220px;
						padding: 20px 10px 10px;

						&:hover
						{
							background: $gm-color-indigo-700;
							@include background(linear-gradient($gm-color-indigo-700, $gm-color-indigo-900));
						}

						.images
						{
							float: left;
							width: 160px;

							.thumb
							{
								margin-bottom: 5px;
							}
						}

						.texts
						{
							float: right;
							width: 290px;

							.title
							{
								margin-bottom: 5px;

								span
								{
									@include text-overflow;
									
									display: block;
									height: 20px;

									&.official
									{
										color: $color-white;
										font-size: 16px;
									}
									&.read
									{
										color: $gm-color-grey-400;
										font-size: 12px;
									}
								}
							}

							.description
							{
								overflow: hidden;
								height: 160px;
								line-height: 20px;
								color: $gm-color-grey-200;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}

	/** Main contents
	------------------------------ **/
	.contents-main
	{
		//information
		section.information
		{
			background: $gm-color-grey-200;
			border-radius: 0 10px;

			h1
			{
				position: relative;
				padding: 10px 20px;
				line-height: 20px;
				font-size: 18px;

				&:before,
				&:after
				{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
				}
				&:before
				{
					width: 100%;
					height: 1px;
					background: $gm-color-grey-500;
				}
				&:after
				{
					width: 50%;
					height: 2px;
					background: $color-primary;
				}
			}

			.text
			{
				padding: 0 20px 20px;

				p
				{
					margin-bottom: .8em;
				}
			}
		}

		//test
		section.test
		{
			section.current
			{
				ul li
				{
					overflow: hidden;
					margin-bottom: 20px;
				}

				.title
				{
					position: relative;
					margin-bottom: 5px;

					.label
					{
						position: absolute;
						top: 0;
						left: 0;
					}

					a
					{
						display: block;
						margin-left: 80px;
						text-decoration: none;
						
						span
						{
							display: block;
							line-height: 20px;
							@include text-overflow;

							&.official
							{
								font-size: 18px;
								text-decoration: underline;
							}

							&.read
							{
								color: $color-text;
							}
						}
					}
				}

				.thumb
				{
					float: left;
					width: 120px;
				}

				.data
				{
					margin-left: 140px;

					.description
					{
						margin-bottom: 5px;
					}
					.date
					{
						text-align: right;
					}
				}
			}
			section.future
			{
				ul li
				{
					overflow: hidden;
					position: relative;
					min-height: 60px;
					margin-bottom: 20px;
				}
				.thumb
				{
					position: absolute;
					top: 0;
					left: 0;
					width: 80px;
				}
				.title
				{
					margin-left: 90px;

					a
					{
						display: block;
						text-decoration: none;
						
						span
						{
							display: block;
							line-height: 20px;
							@include text-overflow;

							&.official
							{
								font-size: 16px;
								text-decoration: underline;
							}

							&.read
							{
								color: $color-text;
								font-size: 12px;
							}
						}
					}
				}
				.date
				{
					margin-left: 90px;
					line-height: 20px;
					font-size: 12px;
				}
			}
		}

		//news
		section.news
		{
			overflow: hidden;

			h1
			{
				margin-bottom: 10px;
				line-height: 20px;
				font-size: 20px;
			}

			section.title
			{
				ul
				{
					overflow: hidden;
				}

				li
				{
					overflow: hidden;
					float: left;
					width: 50%;
					height: 70px;
					margin-bottom: 10px;
				}

				a
				{
					display: block;
					position: relative;
					height: 60px;
					padding: 5px;
					text-decoration: none;
				}

				.thumb
				{
					float: left;
				}

				p
				{
					margin-left: 90px;

					span
					{
						display: block;
						line-height: 20px;

						&.official
						{
							text-decoration: underline;
						}
						&.read
						{
							color: $color-text;
							font-size: 12px;
						}
					}
				}
			}

			section.fansite
			{
				float: left;
				width: 310px;

				li
				{
					margin-bottom: 10px;

					a
					{
						display: block;

						&.site
						{
							line-height: 20px;
						}
						&.title
						{
							line-height: 20px;
							color: inherit;
							font-size: 12px;
						}
					}
				}
			}

			section.info
			{
				float: right;
				width: 310px;

				dt
				{
					line-height: 20px;
					font-size: 12px;
				}
				dd
				{
					margin-bottom: 10px;
					line-height: 20px;
				}
			}

			section.fansite ul,
			section.info dl
			{
				overflow: auto;
				height: 250px;
			}
		}
	}
}
