
/** Title contents
------------------------------ **/
//title components
.title-comp-rate
{
	width: 90px;
	padding: 10px 5px;
	border-top: solid 5px;
	color: $color-white;
	font-size: 16px;
	text-align: center;

	.caption,
	.icon
	{
		line-height: 20px;
	}

	.point
	{
		line-height: 30px;

		.num
		{
			font-size: 24px;
			font-weight: bold;
			vertical-align: bottom;
		}
	}
}
.title-comp-rate-good
{
	border-top-color: $gm-color-blue-900;
	background: $gm-color-blue-500;
}
.title-comp-rate-bad
{
	border-top-color: $gm-color-purple-900;
	background: $gm-color-purple-500;
}

//header
.title-header
{
	background: $gm-color-indigo-900;
	background: linear-gradient($gm-color-indigo-900, $gm-color-indigo-700);

	.title-header-body
	{
		@include wrapped-body-xl;
		padding: 15px 10px;
	}

	.title-platforms
	{
		
	}

	h1
	{
		color: $color-white;
		text-shadow: 0 2px 3px $color-shadow-text;

		a
		{
			color: inherit;
			text-decoration: none;
		}
		
		span
		{
			@include inline-block;

			&.official
			{
				line-height: 30px;
				font-size: 24px;
			}
			&.sub
			{
				font-size: 16px;
			}
			&.read
			{
				display: block;
				margin-top: 5px;
				color: $gm-color-grey-200;
				font-size: 14px;
			}
		}
	}
}

.contents-main
{
	//----------
	// Common
	//----------
	//nav
	.title-nav
	{
		margin-bottom: 20px;
		padding: 4px;
		background: $gm-color-grey-200;

		ul
		{
			height: 30px;
			border: solid 1px $color-border;
			background: $color-white;
			background: linear-gradient($color-white, $gm-color-grey-100);

			li
			{
				float: left;
				border-right: solid 1px $color-border;

				a
				{
					display: block;
					padding: 5px 10px;
					line-height: 20px;
					color: inherit;
					text-decoration: none;

					&:hover
					{
						background: $color-primary;
						color: $color-white;
					}
				}

				&.current a
				{
					position: relative;
					background: $gm-color-indigo-700;
					background: linear-gradient($gm-color-indigo-500, $gm-color-indigo-900);
					color: $color-white;

					&:after
					{
						content: "";
						position: absolute;
						top: 100%;
						left: 50%;
						margin-left: -5px;
						border: solid 5px transparent;
						border-top-color: $gm-color-indigo-700;
					}
				}
			}
		}
	}

	.moreLink
	{
		a
		{
			display: block;
			padding: 9px;
			border: solid 1px $color-border;
			border-bottom-width: 2px;
			border-radius: 5px;
			background: $gm-color-grey-200;
			color: inherit;
			text-align: center;
			text-decoration: none;

			&:hover
			{
				background: $color-white;
			}
		}
	}

	//summary
	section.title-summary
	{
		h2
		{
			margin-bottom: 10px;

			span
			{
				@include inline-block;

				&.official
				{
					line-height: 30px;
					font-size: 20px;
				}
				&.read
				{
					line-height: 20px;
					color: $color-text-light;
					font-size: 16px;
				}
			}
		}

		section
		{
			margin-bottom: 20px;
		}

		section.data
		{
			overflow: hidden;

			.data-counts
			{
				float: left;
				width: 160px;
				border: solid 1px $color-border;
				// border-radius: 3px;
				background: $color-white;

				.rate
				{
					padding: 4px 4px 9px;

					.value
					{
						line-height: 40px;
						font-size: 16px;
						text-align: center;

						span.num
						{
							margin: 0 5px;
							color: $color-danger;
							font-size: 24px;
							font-weight: bold;
						}
					}
				}

				.count
				{
					overflow: hidden;
					padding: 4px 9px;
					border-top: solid 1px $color-border;
					line-height: 20px;

					.caption
					{
						float: left;
					}

					.value
					{
						float: right;

						span.num
						{
							margin-right: 5px;
							font-weight: bold;
						}
					}
				}
			}

			.data-properties
			{
				float: right;
				width: 460px;

				table
				{
					width: 100%;
					margin-bottom: 10px;
					border-collapse: collapse;

					th,td
					{
						padding: 5px 10px;
						border-bottom: solid 1px $color-border;
					}

					th
					{
						white-space: nowrap;
					}
				}

				.actions
				{
					overflow: hidden;

					.vote
					{
						float: left;
						width: 220px;
					}

					.link
					{
						float: right;
						width: 220px;
					}
				}
			}
		}

		section.intro
		{
			padding: 4px;
			background: $gm-color-grey-200;

			.intro-body
			{
				position: relative;
				min-height: 130px;
				padding: 10px 10px 0;
				border: solid 1px $color-border;
				background: $color-white;
			}
			
			h2
			{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: -2px;
				padding: 8px 10px;
				border: solid 1px $color-border;
				background: linear-gradient($color-white, $gm-color-grey-200);
				font-size: 14px;
			}

			.image
			{
				position: relative;
				float: right;
				width: 160px;
				margin-left: 10px;
				margin-bottom: 10px;
				@include shadow-card;
			}

			.body
			{
				margin-top: 30px;

				p
				{
					margin-bottom: 10px;
				}
			}
		}
	}

	//recommend
	section.title-recommend
	{
		ul.list
		{
			padding: 9px;
			border: solid 1px $color-border;
			border-radius: 5px;
			background: $gm-color-grey-100;

			li
			{
				overflow: hidden;
				position: relative;
				min-height: 90px;
				margin-bottom: 20px;

				&:last-child
				{
					margin: 0;
				}

				.title
				{
					margin-left: 140px;
					margin-bottom: 5px;

					a
					{
						display: block;
						text-decoration: none;
						
						span
						{
							display: block;
							line-height: 20px;

							&.official
							{
								font-size: 16px;
								text-decoration: underline;
							}

							&.read
							{
								color: $color-text;
								font-size: 12px;
							}
						}
					}
				}

				.images
				{
					position: absolute;
					top: 0;
					left: 0;
					width: 120px;
				}

				.data
				{
					margin-left: 140px;

					.rates
					{
						overflow: hidden;
						height: 45px;
						margin-left: -20px;

						.rate
						{
							float: left;
							width: 90px;
							height: 35px;
							margin-left: 20px;
							padding: 4px;
							border: solid 1px $color-border;
							border-radius: 3px;
							background: $color-white;

							.caption
							{
								line-height: 15px;
								font-size: 12px;
								text-align: center;
							}
							.value
							{
								line-height: 20px;
								text-align: center;

								.num
								{
									font-size: 16px;
									font-weight: bold;
								}
							}
						}
					}
				}
			}
		}
	}


	//----------
	// Index
	//----------
	//spec
	section.title-spec
	{
		table
		{
			width: 100%;
			margin-bottom: 10px;


			th,td
			{
				border: solid 1px $color-border;
				padding: 5px 10px;
				vertical-align: top;
			}

			th
			{
				white-space: nowrap;
			}

			thead
			{
				th
				{
					background: $gm-color-grey-300;
					text-align: left;
				}
				td
				{
					border: none;
				}
			}

			tbody
			{
				th,td
				{
					text-align: left;
				}
				th
				{
					background: $gm-color-grey-100;
				}
				td
				{
					background: $color-white;
				}

				tr.caption th
				{
					background: $gm-color-grey-700;
					line-height: 15px;
					color: $color-white;
					font-size: 12px;
					font-weight: bold;
				}
			}

			tfoot td
			{
				padding: 5px;
				background: $color-danger;
				color: $color-white;
				font-size: 12px;
				text-align: center;
			}
		}
	}

	//movie
	section.title-movie
	{
		.video
		{
			margin-bottom: 10px;
			background: $color-black;
		}
	}

	//package
	section.title-package
	{
		ul.list
		{
			li
			{
				position: relative;
				overflow: hidden;
				padding: 9px;
				border: solid 1px $color-border;
				background: $color-white;
				margin-bottom: -1px;

				&:last-child
				{
					margin-bottom: 0;
				}

				.thumb
				{
					float: left;
					width: 100px;
					text-align: center;

					img
					{
						max-width: 100px;
						max-height: 100px;
					}
				}

				.data
				{
					margin-left: 120px;

					.title
					{
						margin-bottom: 5px;
						line-height: 20px;

						a
						{
							color: $color-ec-amazon;
							font-weight: bold;
						}
					}

					.date
					{
						margin-bottom: 5px;
						line-height: 20px;
						font-size: 12px;
					}

					.price
					{
						@include inline-block;
						border-bottom: double 3px $color-danger;
						line-height: 20px;
						color: $color-danger;
						font-size: 20px;
						font-weight: bold;

						span.unit
						{
							font-size: 16px;
						}
					}
				}

				.rakuten
				{
					position: absolute;
					right: 9px;
					bottom: 9px;
					margin-top: 10px;
					margin-left: 120px;
					line-height: 16px;

					&:before
					{
						content: "R";
						@include inline-block;
						width: 16px;
						height: 16px;
						margin-right: 5px;
						border-radius: 8px;
						background: $color-ec-rakuten;
						line-height: 16px;
						color: $color-white;
						font-size: 10px;
						text-align: center;
						vertical-align: middle;
					}

					a
					{
						color: $color-ec-rakuten;
					}
				}
			}
		}
	}


	//----------
	// Rating
	//----------
	section.title-rating
	{
		section.total
		{
			overflow: hidden;

			.counts
			{
				float: left;
				width: 160px;
				margin-bottom: 20px;
				border: solid 1px $color-border;
				// border-radius: 3px;
				background: $color-white;

				.rate
				{
					padding: 9px 4px;

					.caption
					{
						line-height: 30px;
						font-size: 24px;
						text-align: center;
					}

					.value
					{
						line-height: 40px;
						font-size: 24px;
						text-align: center;

						span.num
						{
							margin: 0 5px;
							color: $color-danger;
							font-size: 32px;
							font-weight: bold;
						}
					}
				}

				.count
				{
					overflow: hidden;
					padding: 4px 9px;
					border-top: solid 1px $color-border;
					line-height: 20px;

					.caption
					{
						float: left;
					}

					.value
					{
						float: right;

						span.num
						{
							margin-right: 5px;
							font-weight: bold;
						}
					}
				}
			}

			.rates
			{
				float: right;
				width: 460px;
				margin-bottom: 20px;

				ul
				{
					border: solid 1px $color-border;
					background: $color-white;

					li
					{
						overflow: hidden;
						position: relative;
						padding: 10px 15px;
						border-bottom: solid 1px $color-border;
						font-size: 16px;

						&:last-child
						{
							border-bottom: none;
						}

						.caption
						{
							line-height: 20px;
						}

						.num
						{
							position: absolute;
							right: 15px;
							top: 10px;
							line-height: 20px;
						}

						.stars
						{
							position: absolute;
							top: 10px;
							left: 240px;
						}
					}
				}
			}
		}

		section.separates
		{
			.separates-wrap
			{
				overflow: hidden;
				margin-left: -40px;
			}

			.separate
			{
				float: left;
				width: 300px;
				margin-left: 40px;
				margin-bottom: 20px;

				h2
				{
					margin-bottom: 10px;
					padding: 5px 10px;
					line-height: 20px;
					border-radius: 3px;
					background: $gm-color-grey-500;
					color: $color-white;
				}

				ul li
				{
					position: relative;
					height: 30px;

					.point,
					.count
					{
						position: absolute;
						top: 5px;
						line-height: 20px;
					}
					.point
					{
						left: 0;
					}
					.count
					{
						right: 0;
					}
					.graph
					{
						position: absolute;
						top: 10px;
						left: 40px;
						width: 200px;
						height: 10px;

						.bar
						{
							height: 100%;
							background: $color-primary;
						}
					}
				}
			}
		}
	}


	//----------
	// Review
	//----------
	section.title-review
	{
		ul li
		{
			position: relative;
			margin-bottom: 20px;
		}

		.post
		{
			width: 539px;
			margin-left: 96px;
			padding: 4px;
			background: $gm-color-grey-200;
			z-index: 0;

			.post-body
			{
				min-height: 110px;
				border: solid 1px $color-border;
				background: $color-white;
			}

			.review
			{
				padding: 15px 20px;

				h2
				{
					margin-bottom: 10px;
					line-height: 30px;
					font-size: 20px;
				}
			}

			ul.data
			{
				padding: 10px 20px;
				background: $gm-color-grey-200;

				li
				{
					@include inline-block;
					margin-right: 10px;
					margin-bottom: 0;
					line-height: 20px;

					a
					{
						color: inherit;
					}
				}
			}
		}

		.title-comp-rate
		{
			position: absolute;
			top: 10px;
			left: 0;
			z-index: 1;
		}
	}


	//----------
	// Reviw single
	//----------
	section.title-review-single
	{
		ul.data
		{
			margin-bottom: 20px;

			li
			{
				@include inline-block;
				margin-right: 10px;
				margin-bottom: 0;
				line-height: 20px;

				a
				{
					color: inherit;
				}
			}
		}

		.review
		{
			margin-bottom: 20px;
			font-size: 16px;

			p
			{
				margin-bottom: 20px;
			}
		}

		.rate
		{
			position: relative;

			.points
			{
				width: 539px;
				margin-left: 96px;
				padding: 4px;
				background: $gm-color-grey-200;
				z-index: 0;

				.points-body
				{
					height: 110px;
					border: solid 1px $color-border;
					background: $color-white;
				}

				ul
				{
					width: 530px;
					height: 100px;
					margin: 5px auto;

					li
					{
						float: left;
						width: 106px;
						height: 50px;
						text-align: center;

						&.good
						{
							background: $gm-color-blue-50;
						}

						&.bad
						{
							background: $gm-color-purple-50;
						}

						.caption
						{
							line-height: 20px;
							font-size: 12px;
						}

						.num
						{
							line-height: 30px;
							font-size: 20px;

							.unit
							{
								font-size: 14px;
							}
						}
					}
				}
			}

			.title-comp-rate
			{
				position: absolute;
				top: 10px;
				left: 0;
				z-index: 1;
			}
		}
	}


	//----------
	// Review neightbors
	//----------
	section.title-review-neighbors
	{
		overflow: hidden;

		.neighbor
		{
			width: 300px;
			padding: 4px;
			background: $gm-color-grey-200;

			.neighbor-body
			{
				border: solid 1px $color-border;
				background: $color-white;
			}

			.caption
			{
				color: $color-white;
				font-size: 14px;

				&.caption-good
				{
					background: $gm-color-blue-500;
				}
				&.caption-bad
				{
					background: $gm-color-purple-500;
				}

				.rate, a
				{
					display: block;
					padding: 5px 10px;
					line-height: 20px;
				}

				.rate
				{
					float: right;
				}

				a
				{
					color: inherit;
					text-decoration: none;

					&:hover
					{
						display: block;
						text-decoration: underline;
					}
				}
			}

			.review
			{
				padding: 10px;

				h2
				{
					margin-bottom: 10px;
					font-size: 16px;
				}
			}

			ul.data
			{
				padding: 10px;
				background: $gm-color-grey-100;

				li
				{
					line-height: 20px;
				}
			}
		}
		.neighbor-prev
		{
			float: left;
		}
		.neighbor-next
		{
			float: right;
		}
	}


	//----------
	// PC
	//----------
	section.title-pc
	{
		section.pickup
		{
			overflow: hidden;
			position: relative;

			span.ribbon
			{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				padding: 5px;
				background: $gm-color-pink-500;
				line-height: 15px;
				color: $color-white;
				font-size: 12px;
				text-align: center;
				z-index: 1;

				&:after,
				&:before
				{
					content: "";
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					top: 100%;
					border: solid 10px transparent;
					border-top-color: $gm-color-pink-500;
				}
				&:before
				{
					left: 0;
					border-left-color: $gm-color-pink-500;
				}
				&:after
				{
					right: 0;
					border-right-color: $gm-color-pink-500;	
				}
			}

			h2
			{
				margin-bottom: 10px;
				padding-left: 40px;
				line-height: 30px;
				font-size: 20px;
			}

			.image
			{
				float: left;
				width: 160px;

				img
				{
					max-width: 100%;
				}
			}

			.data
			{
				margin-left: 180px;
				margin-bottom: 20px;

				table
				{
					width: 100%;
					margin-bottom: 10px;
					border-collapse: collapse;

					th,td
					{
						padding: 5px 10px;
						border-bottom: solid 1px $color-border;
					}

					td.price
					{
						color: $color-danger;
						font-size: 16px;
						font-weight: bold;
					}
				}
			}

			.special
			{
				position: relative;
				margin-bottom: 20px;
				
				span.caption
				{
					position: absolute;
					top: 5px;
					left: 0;
					width: 70px;
					line-height: 20px;
					border-radius: 3px;
					background: $gm-color-grey-700;
					color: $color-white;
					font-size: 12px;
					text-align: center;
				}

				.body
				{
					margin-left: 20px;
					padding: 19px 19px 19px 68px;
					border: solid 1px $color-border;
					border-radius: 5px;
					background: $color-white;
				}
			}
		}

		section.list
		{
			h2
			{
				margin-bottom: 20px;
				line-height: 30px;
				font-size: 20px;
			}

			h3
			{
				margin-bottom: 10px;
				padding-left: 7px;
				border-left: solid 3px;
				line-height: 30px;

				&.high
				{
					background: $gm-color-orange-50;
					border-left-color: $gm-color-orange-500;
					color: $gm-color-orange-500;;
				}
				&.middle
				{
					background: $gm-color-blue-grey-50;
					border-left-color: $gm-color-blue-grey-500;
					color: $gm-color-blue-grey-500;;
				}
				&.low
				{
					background: $gm-color-brown-50;
					border-left-color: $gm-color-brown-500;
					color: $gm-color-brown-500;;
				}
			}

			dl
			{
				dt
				{
					margin-bottom: 10px;
					line-height: 20px;
					font-size: 16px;
				}

				dd
				{
					margin-bottom: 20px;

					.image
					{
						float: left;
						width: 120px;

						img
						{
							max-width: 100%;
						}
					}

					.data
					{
						margin-left: 140px;
						margin-bottom: 10px;

						table
						{
							width: 100%;
							margin-bottom: 10px;
							border-collapse: collapse;

							th,td
							{
								padding: 5px 10px;
								border-bottom: solid 1px $color-border;
							}

							td.price
							{
								color: $color-danger;
								font-size: 16px;
								font-weight: bold;
							}
						}
					}

					.shop
					{
						text-align: right;
					}
				}
			}
		}
	}


	//----------
	// Link
	//----------
	section.title-link
	{
		section
		{
			h2
			{
				margin-bottom: 20px;
				line-height: 30px;
				font-size: 20px;
			}
		}

		ul
		{
			li
			{
				overflow: hidden;
				margin-bottom: 20px;

				.image
				{
					float: left;
					width: 200px;
				}

				.data
				{
					margin-left: 220px;

					h3
					{
						margin-bottom: 10px;
						line-height: 20px;
						font-size: 16px;
					}

					p.description
					{
						margin-bottom: 10px;
					}

					p.report
					{
						color: $color-text-lighter;
						font-size: 12px;
						text-align: right;

						a
						{
							color: inherit;
						}
					}
				}
			}
		}
	}
}
