
//--------------------
// vars
//--------------------
$border-radius: 2px;
$border-radius-l: 5px;

//--------------------
// mixins
//--------------------
@mixin border-sand($color: $color-border)
{
	border-top: solid 1px $color;
	border-bottom: solid 1px $color;
}
@mixin bordered-links($ulClass: "list")
{
	ul.#{$ulClass} > li
	{
		border-bottom: solid 1px $color-border;

		&:last-child
		{
			border-bottom: 0;
		}

		a
		{
			overflow: hidden;
			padding: 10px;
		}
	}
}