
html
{
	// click event for touch
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body
{
	padding-top: 50px;
	background: $color-background-body;
	color: $color-text;
	font-family: sans-serif;
	font-size: 14px;
}

/** Tags
------------------------------ **/
*
{
	box-sizing: border-box;
}

a
{
	display: block;
	color: inherit;
	text-decoration: none;
	//inline
	&.inline
	{
		display: inline;
		color: $color-link;
		text-decoration: underline;

		&:hover
		{
			color: $color-link-hover;
		}
	}
	//link types
	&.official
	{
		color: $color-theme-official;
	}
	&.feed
	{
		color: $color-theme-feed;
	}

	img
	{
		vertical-align: bottom;
	}
}
p, dt, dd, th, td
{
	line-height: 1.6;
}
//ad tracking img
img.adTrack
{
	position: absolute !important;
}

//inputs
input,textarea
{
	line-height: 20px;
	font-size: 16px;

	&.input-text
	{
		width: 100%;
		box-sizing: border-box;
		padding: 5px 10px;
		border: solid 1px $color-border;
		border-radius: $border-radius-l;

		&:focus
		{
			border-color: $color-primary;
		}
	}

	&.input-text-s
	{
		width: auto;
	}
}
select.input-select
{
	width: 100%;
	height: 32px;
	border: solid 1px $color-border;
	border-radius: $border-radius-l;
	font-size: 16px;
}
.input-description
{
	display: inline-block;

	margin-top: 5px;
	color: $color-text-light;
	font-size: 12px;
}
.input-attention
{
	display: inline-block;

	margin-bottom: 5px;
	color: $color-danger;
	font-size: 12px;
}


/** Classes
------------------------------ **/
//text styles
.clPrimary
{
	color: $color-primary !important;
}
.clSuccess
{
	color: $color-success !important;
}
.clInfo
{
	color: $color-info !important;
}
.clWarning
{
	color: $color-warning !important;
}
.clDanger
{
	color: $color-danger !important;
}
.fwBold
{
	font-weight: bold !important;
}
.fwNormal
{
	font-weight: normal !important;
}
.taLeft
{
	text-align: left;
}
.taCenter
{
	text-align: center;
}
.taRight
{
	text-align: right;
}
//thumbnails
.thumb
{
	overflow: hidden;
	background: $color-black;

	img
	{
		max-width: 100%;
		@include transition(opacity .3s, transform .3s);
	}
}

//button
.button
{
	display: inline-block !important;
	
	max-width: 100%;
	padding: 10px;
	border: solid 1px $color-border;
	border-bottom-width: 2px;
	border-radius: $border-radius;
	outline: none;
	background: $gm-color-grey-100;
	line-height: 20px;
	color: inherit;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	&.button-s
	{
		padding: 5px;
		line-height: 15px;
		font-size: 12px;
	}

	&.button-block
	{
		display: block !important;
		width: 100%;
		max-width: 100%;
	}

	&.button-primary
	{
		background: $color-primary;
		border-color: $color-primary-dark;
		color: $color-white !important;
	}

	&.button-success
	{
		background: $color-success;
		border-color: $color-success-dark;
		color: $color-white !important;
	}

	&.button-info
	{
		background: $color-info;
		border-color: $color-info-dark;
		color: $color-white !important;
	}

	&.button-warning
	{
		background: $color-warning;
		border-color: $color-warning-dark;
		color: $color-white !important;
	}

	&.button-danger
	{
		background: $color-danger;
		border-color: $color-danger-dark;
		color: $color-white !important;
	}

	&.button-official
	{
		background: $color-theme-official;
		border-color: $color-theme-official-dark;
		color: $color-white !important;
	}

	&.button-accent
	{
		background: $gm-color-pink-500;
		border-color: $gm-color-pink-700;
		color: $color-white !important;
	}

	&.button-search,
	&.button-submit
	{
		background: $gm-color-indigo-500;
		border-color: $gm-color-indigo-700;
		color: $color-white !important;
	}
	&[class*="button-"]
	{
		text-shadow: -1px -1px 0 $color-shadow;
	}

	i.md
	{
		font-size: 20px;
	}
}
//label
.label
{
	display: inline-block;

	width: 50px;
	height: 15px;
	line-height: 15px;
	border-radius: $border-radius;
	background: $gm-color-grey-500;
	color: $color-white;
	font-size: 10px;
	text-align: center;

	&.label-official
	{
		background: $color-theme-official;
	}
	&.label-platform
	{
		background: $color-theme-platform;
	}
	&.label-app
	{
		background: $color-theme-app;
	}
	&.label-genre
	{
		background: $color-theme-genre;
	}
	&.label-service
	{
		background: $color-theme-service;
	}
	&.label-fee
	{
		background: $color-theme-fee;
	}
	&.label-open
	{
		background: $color-theme-open;
	}
	&.label-closed
	{
		background: $color-theme-closed;
	}

	&.label-primary
	{
		background: $color-primary;
	}
	&.label-success
	{
		background: $color-success;
	}
	&.label-info
	{
		background: $color-info;
	}
	&.label-warning
	{
		background: $color-warning;
	}
	&.label-danger
	{
		background: $color-danger;
	}
}
//platform labels
ul.platformLabels
{
	li
	{
		display: inline-block;
		margin-bottom: 5px;
		padding: 0 2px;
		border-radius: $border-radius;
		background: $color-theme-platform;
		line-height: 15px;
		color: $color-white;
		font-size: 10px;
	}

	&:last-child
	{
		li
		{
			margin-bottom: 0;
		}
	}
}
ul.categoryLabels
{
	li
	{
		display: inline-block;
		margin-bottom: 5px;
		line-height: 10px;
		color: $color-text-light;
		font-size: 10px;
	}

	&:last-child
	{
		li
		{
			margin-bottom: 0;
		}
	}
}
//stars
.stars
{
	display: flex;
	margin: auto;
	color: $gm-color-orange-500;

	.zmdi
	{
		display: block;
		width: 20%;
		text-align: center;
	}

	&.stars-75
	{
		width: 75px;
		height: 15px;
		
		.zmdi
		{
			line-height: 15px;
			font-size: 15px;
		}
	}

	&.stars-150
	{
		width: 150px;
		height: 25px;
		
		.zmdi
		{
			line-height: 25px;
			font-size: 25px;
		}
	}
}
// .stars
// {
// 	display: block;
// 	margin: auto;
// 	background: image-url("design_sp/images_sprite.png") no-repeat;
// 	background-size: 150px 40px;

// 	&.stars-w150
// 	{
// 		width: 75px;
// 		height: 10px;

// 		&.stars-rate100
// 		{
// 			background-position: 0px 0px;
// 		}
// 		&.stars-rate90
// 		{
// 			background-position: 0px -10px;
// 		}
// 		&.stars-rate80
// 		{
// 			background-position: -15px 0px;
// 		}
// 		&.stars-rate70
// 		{
// 			background-position: -15px -10px;
// 		}
// 		&.stars-rate60
// 		{
// 			background-position: -30px 0px;
// 		}
// 		&.stars-rate50
// 		{
// 			background-position: -30px -10px;
// 		}
// 		&.stars-rate40
// 		{
// 			background-position: -45px 0px;
// 		}
// 		&.stars-rate30
// 		{
// 			background-position: -45px -10px;
// 		}
// 		&.stars-rate20
// 		{
// 			background-position: -60px 0px;
// 		}
// 		&.stars-rate10
// 		{
// 			background-position: -60px -10px;
// 		}
// 		&.stars-rate0
// 		{
// 			background-position: -75px 0px;
// 		}
// 	}

// 	&.stars-w100
// 	{
// 		width: 50px;
// 		height: 10px;

// 		&.stars-rate100
// 		{
// 			background-position: 0px -20px;
// 		}
// 		&.stars-rate90
// 		{
// 			background-position: 0px -30px;
// 		}
// 		&.stars-rate80
// 		{
// 			background-position: -10px -20px;
// 		}
// 		&.stars-rate70
// 		{
// 			background-position: -10px -30px;
// 		}
// 		&.stars-rate60
// 		{
// 			background-position: -20px -20px;
// 		}
// 		&.stars-rate50
// 		{
// 			background-position: -20px -30px;
// 		}
// 		&.stars-rate40
// 		{
// 			background-position: -30px -20px;
// 		}
// 		&.stars-rate30
// 		{
// 			background-position: -30px -30px;
// 		}
// 		&.stars-rate20
// 		{
// 			background-position: -40px -20px;
// 		}
// 		&.stars-rate10
// 		{
// 			background-position: -40px -30px;
// 		}
// 		&.stars-rate0
// 		{
// 			background-position: -50px -40px;
// 		}
// 	}
// }
//icons
i.icon
{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: text-bottom;

	&.icon-feed
	{
		background-image: image-url("icon_feed16.png");
	}
}

//flash messages
.flash
{
	padding: 10px;
	border-bottom: solid 5px $gm-color-grey-500;
	background: $gm-color-grey-100;

	.flash-title
	{
		margin-bottom: 5px;
		line-height: 15px;

		&:only-child
		{
			margin-bottom: 10px;
		}
	}

	.flash-body
	{
		line-height: 15px;
		font-size: 12px;
	}

	&.flash-primary
	{
		border-bottom-color: $color-primary;
		background: $color-primary-background;
		
		.flash-title
		{
			color: $color-primary-dark;
		}
	}

	&.flash-success
	{
		border-bottom-color: $color-success;
		background: $color-success-background;
		
		.flash-title
		{
			color: $color-success-dark;
		}
	}

	&.flash-info
	{
		border-bottom-color: $color-info;
		background: $color-info-background;
		
		.flash-title
		{
			color: $color-info-dark;
		}
	}

	&.flash-warning
	{
		border-bottom-color: $color-warning;
		background: $color-warning-background;
		
		.flash-title
		{
			color: $color-warning-dark;
		}
	}

	&.flash-danger
	{
		border-bottom-color: $color-danger;
		background: $color-danger-background;
		
		.flash-title
		{
			color: $color-danger-dark;
		}
	}
}
	
// editor document
.editorDoc
{
	a
	{
		display: inline;
		color: $color-link;
		text-decoration: underline;
	}

	p
	{
		margin-bottom: 5px;

		&:last-child
		{
			margin: 0;
		}
	}
}


/** Main blocks
------------------------------ **/
//header
header
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: $gm-color-grey-900;
	color: $color-white;
	z-index: 10;

	*
	{
		color: inherit;
	}

	.logo
	{
		float: left;
		width: 180px;
		height: 50px;
		padding: 5px;
	}

	.topMenu
	{
		float: right;
		width: 100px;
		height: 50px;
		
		.search,
		.menu
		{
			float: left;
			width: 50px;
			height: 50px;
		}

		a.topMenu-trigger
		{
			width: 50px;
			height: 50px;
			padding: 5px 5px 0;

			span
			{
				display: block;
				width: 40px;
				text-align: center;

				&.icon
				{
					height: 25px;
					padding-top: 5px;
				}
				&.text
				{
					padding-bottom: 5px;
					line-height: 15px;
					font-size: 10px;
				}
			}
		}

		.topMenu-hover
		{
			display: none;
			position: fixed;
			top: 50px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			margin-top: -5px;
		}

		.search-form
		{
			padding: 10px;
			border-top: solid 5px $color-link;
			background: rgba($color-black, .8);

			.search-inputs
			{
				position: relative;
				width: 100%;
				height: 30px;
				background: $color-black;
				border: solid 1px $color-white;
				border-radius: 15px;

				input.search-text
				{
					width: 100%;
					height: 30px;
					padding: 0 40px 0 10px;
					background: transparent;
					border: none;
					outline: none;
				}

				button.search-button
				{
					position: absolute;
					top: 0;
					right: 10px;
					bottom: 0;
					border: none;
					background: none;
				}
			}

			.search-conditions
			{
				line-height: 40px;
				text-align: center;
			}
		}

		.menu-list
		{
			-webkit-overflow-scrolling: touch;
			overflow: auto;
			height: 100%;
			padding: 10px;
			border-top: solid 5px $color-link;
			background: rgba($color-black, .8);

			a
			{
				border-bottom: solid 1px $color-border;
				line-height: 40px;
			}

			dl
			{
				font-size: 12px;
				
				dt
				{
					margin-top: 15px;
					margin-bottom: 5px;
				}

				dd
				{
					ul
					{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						li
						{
							width: 49%;
							margin-bottom: 5px;

							a
							{
								border: solid 1px $color-border;
								text-align: center;
							}
						}
					}
				}
			}
		}

		> .topMenu-item.active
		{
			.topMenu-trigger
			{
				background: $color-link;
			}

			.topMenu-hover
			{
				display: block;
			}
		}
	}
}

//pankuz
aside.pankuz
{
	background: $gm-color-grey-700;
	background: linear-gradient($gm-color-grey-900, $gm-color-grey-700);
	color: $gm-color-grey-200;
	
	ul
	{
		@include wrapped-body-xl;

		padding: 5px 0;
	}

	li
	{
		display: inline-block;

		margin-right: 5px;
		font-size: 12px;


		&.top:before
		{
			content: none;
		}
	}
}

//footer
footer
{
	.social
	{
		display: flex;
		flex-wrap: wrap;

		li
		{
			width: 50%;

			&.facebook
			{
				background: $color-sns-facebook;
			}
			&.twitter
			{
				background: $color-sns-twitter;
			}

			a
			{
				text-align: center;
			}
		}
	}
	
	.about
	{
		padding: 5px;
		background: $gm-color-grey-800;
		color: $color-white;

		ul
		{
			display: flex;
			flex-wrap: wrap;

			li
			{
				width: 50%;

				a
				{
					padding: 5px;
					line-height: 30px;
				}
			}
		}
	}

	.copyright
	{
		position: relative;
		font-size: 10px;

		@include top-shadow;

		.image
		{
			padding: 5px 10px;
			color: $gm-color-grey-700;
		}

		.site
		{
			padding: 5px 10px;
			background: $gm-color-indigo-500;
			color: $color-white;
		}
	}
}

//side contents
// @import "common_side";

//sub contents
// @import "common_sub";

//main contents
// @import "common_main";
@import "common_contents";