
/** Search components
------------------------------ **/
.contents
{
	//search
	section.search
	{
		.form-search
		{
			fieldset
			{
				border-bottom: solid 1px $color-border;
				background: $color-white;

				legend
				{
					padding: 10px 10px 5px;
					line-height: 20px;
				}

				.inputs
				{
					padding: 5px 10px 10px;
					
					ul
					{
						margin-bottom: -5px;
						
						li
						{
							margin-bottom: 5px;
						}
					}

					label
					{
						position: relative;
						display: block;
						padding: 10px;
						border: solid 1px $color-border;
						line-height: 20px;
						font-size: 12px;
					}

					input[type=checkbox]
					{
						display: none;

						&:checked + label
						{
							background: $color-link;
							color: $color-white;

							&:before
							{
								content: "";
								position: absolute;
								right: 1px;
								bottom: 1px;
								width: 0;
								height: 0;
								border: solid 4px transparent;
								border-right-color: $color-white;
								border-bottom-color: $color-white;
							}
						}
					}

					&.inputs-tile
					{
						ul
						{
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;

							li
							{
								width: 49%;
							}
						}

						label
						{
							padding: 10px 5px;
							text-align: center;
						}
					}
				}

				&.keyword
				{
					input
					{
						width: 100%;
					}
				}
			}

			.submit
			{
				padding: 10px;
				text-align: center;
			}
		}
	}

	section.gSearch-result
	{
		a
		{
			display: inline;
			color: $color-link;
		}
		.gsc-results
		{
			.gs-title
			{
				height: auto;
				line-height: 20px;
			}
			.gsc-table-cell-snippet-close, .gsc-table-cell-snippet-open
			{
				line-height: 1.2;
			}
			.gsc-cursor
			{
				display: flex;
	
				.gsc-cursor-page
				{
					width: 10%;
					margin: 0;
					color: $color-link;
					text-align: center;
				}
			}
		}
		.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl
		{
			color: $color-theme-official;
			@include text-overflow;
		}
	}
}
