
/** Review components
------------------------------ **/
.contents
{
	//review
	section.review
	{
		@include bordered-links;
		
		//recent reviews
		section.recents
		{
			.images
			{
				float: left;
				width: 80px;

				.thumb
				{
					margin-bottom: 5px;

					img
					{
						width: 80px;
						height: 60px;
					}
				}

				.rate
				{
					border-radius: 2px;
					background: $color-primary;
					line-height: 20px;
					color: $color-white;
					font-size: 12px;
					text-align: center;

					.unit
					{
						font-size: 10px;
					}
				}
			}

			.data
			{
				margin-left: 90px;

				*
				{
					line-height: 15px;
				}

				.title
				{
					color: $color-link;
				}

				.review
				{
					margin-bottom: 5px;
					font-size: 12px;

					.continue
					{
						color: $color-link;
					}
				}

				.date
				{
					color: $color-text-light;
					font-size: 12px;
				}
				
				.official
				{
					color: $color-theme-official;
					font-size: 12px;
				}
			}
		}

		//waiting titles
		section.waits
		{
			.thumb
			{
				float: left;
				width: 40px;
				height: 30px;

				img
				{
					width: 40px;
					height: 30px;
				}
			}

			.title
			{
				display: block;
				margin-left: 50px;
				line-height: 30px;
			}
		}
	}

	.more
	{
		a
		{
			color: $color-link;
		}
	}
}
