
/** Review components
------------------------------ **/
.contents
{
	//review
	section.review
	{
		//recent reviews
		section.recents
		{
			.images
			{
				.rate
				{
					border-radius: $border-radius;
					background: $color-primary;
					line-height: 20px;
					color: $color-white;
					font-size: 12px;
					text-align: center;

					.unit
					{
						font-size: 10px;
					}
				}
			}

			.data
			{
				*
				{
					line-height: 15px;
					font-size: 12px;
				}

				.main
				{
					font-size: 16px;
				}

				.review
				{
					margin-top: 5px;
					margin-bottom: 5px;

					.continue
					{
						color: $color-link;
					}
				}

				.date
				{
					color: $color-text-light;
				}
				
				.official
				{
					color: $color-theme-official;
				}
			}
		}

		//waiting titles
		section.waits
		{
			.title
			{
				line-height: 30px;
			}
		}
	}

	.more
	{
		a
		{
			color: $color-link;
		}
	}
}
