
/** Review components
------------------------------ **/
.contents
{
	ul.borderedLinks
	{
		> li
		{
			border-bottom: solid 1px $color-border;
	
			&:last-child
			{
				border-bottom: 0;
			}
	
			a
			{
				overflow: hidden;
				padding: 10px;
			}
		}

		&:first-child > li:first-child
		{
			border-top: solid 1px $color-border;
		}
	}

	h2 + section > ul.borderedLinks:first-child > li:first-child
	{
		border-top: 0;
	}

	ul.textLinks
	{
		.main,
		.official
		{
			line-height: 20px;
			color: $color-link;
			font-size: 16px;
		}

		.sub,
		.read
		{
			line-height: 10px;
			color: $color-text-light;
			font-size: 10px;
		}

		.description
		{
			color: $color-text;

			p
			{
				margin-bottom: 5px;

				&:last-of-type
				{
					margin: 0;
				}
			}
		}
	}

	ul.imageLinks
	{
		> li
		{
			> a
			{
				overflow: hidden;
			}
		}

		.images
		{
			float: left;
			width: 80px;

			.thumb
			{
				width: 80px;
				// margin-bottom: 5px;

				&:only-child
				{
					margin: 0;
				}

				img
				{
					width: 80px;
					height: 60px;
				}
			}

			.banner
			{
				width: 80px;
				// margin-bottom: 5px;

				&:only-child
				{
					margin: 0;
				}

				img
				{
					max-width: 100%;
				}
			}
		}

		.data
		{
			margin-left: 90px;

			.title
			{
				margin-bottom: 5px;

				&:only-child
				{
					margin: 0;
				}

				.official
				{
					line-height: 20px;
					color: $color-link;
					font-size: 16px;
				}

				.read
				{
					line-height: 10px;
					font-size: 10px;
				}
			}
		}

		&.imageLinks-s
		{
			.images
			{
				width: 40px;

				.thumb
				{
					width: 40px;

					img
					{
						width: 40px;
						height: 30px;
					}
				}
			}

			.data
			{
				margin-left: 50px;
			}
		}
	}
}
