
/** Index contents
------------------------------ **/
body.index
{
	//new games
	.newGames
	{
		h2
		{
			padding: 5px 10px;
			border: none;
			background: $gm-color-indigo-500;
			line-height: 15px;
			color: $color-white;
			font-size: 10px;
			font-weight: bold;
		}
	}

	//test
	section.test
	{
		p.none
		{
			padding: 10px;
			border-radius: $border-radius;
			background: $gm-color-grey-200;
			text-align: center;
		}

		.data
		{
			.label
			{
				width: 60px;
			}

			.date
			{
				display: inline-block;
				font-size: 10px;
			}
		}
	}

	//new titles & fansites
	section.news
	{
		section.title
		{
			.platformLabels
			{
				@include text-overflow;
			}
		}
	}
}
