
/** Title contents
------------------------------ **/
body.titles
{
	//----------
	// Common
	//----------
	.moreLink
	{
		border-top: solid 1px $color-border;
		background: $gm-color-grey-200;

		a
		{
			padding: 5px 10px;
			color: inherit;
			text-align: center;
		}
	}
	
	//header
	.title-header
	{
		background: linear-gradient($gm-color-indigo-900, $gm-color-indigo-700);

		.title-name
		{
			padding: 10px;
			line-height: 1;
			font-size: 16px;
			color: $color-white;
			text-shadow: 0 2px 3px $color-shadow-text;
			
			span
			{
				display: inline-block;

				&.official
				{
					line-height: 20px;
					font-size: 16px;
				}
				&.sub
				{
					line-height: 20px;
					font-size: 14px;
				}
				&.read
				{
					line-height: 15px;
					color: $gm-color-grey-200;
					font-size: 12px;
				}
			}
		}

		.platformLabels
		{
			padding: 0 10px 10px;

			li
			{
				border: solid 1px $color-border;
			}
		}
	}

	//nav
	.title-nav
	{
		position: relative;
		background: $gm-color-grey-200;

		&:before,
		&:after
		{
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			z-index: 1;
		}
		&:before
		{
			top: 5px;
			border-top: solid 1px $color-border;
		}
		&:after
		{
			bottom: 5px;
			border-bottom: solid 1px $color-border;
		}

		.title-nav-wrap
		{
			overflow: auto;
			padding: 5px 0;
		}

		ul
		{
			display: flex;
			flex-wrap: nowrap;
			background: linear-gradient($color-white, $gm-color-grey-100);

			li
			{
				border-left: solid 1px $color-border;
				background: linear-gradient($color-white, $gm-color-grey-100);

				&:first-child
				{
					border-left: none;
				}

				a
				{
					padding: 0 5px;
					line-height: 30px;
					white-space: nowrap;
				}

				&.current a
				{
					background: linear-gradient($gm-color-indigo-500, $gm-color-indigo-900);
					color: $color-white;
				}
			}
		}
	}

	//headline
	.title-headline
	{
		padding: 10px;
		font-size: 16px;
		line-height: 1;

		.main
		{
			display: inline-block;
			line-height: 20px;
		}
		
		.sub
		{
			display: inline-block;
			line-height: 15px;
			font-size: 12px;
		}
	}

	//summary
	section.title-summary
	{
		h2.title
		{
			line-height: 1;
			.official
			{
				line-height: 20px;
			}

			.read
			{
				line-height: 15px;
				color: $color-text-light;
				font-size: 10px;
				font-weight: normal;
			}
		}
		section.data
		{
			.data-counts
			{
				display: flex;
				padding: 5px 10px;

				.rate
				{
					flex-grow: 1;
					padding: 5px 10px;
					border: solid 1px $color-border;
					border-radius: $border-radius;
					background: $color-white;

					.value
					{
						line-height: 20px;
						font-size: 12px;
						text-align: center;

						span.num
						{
							display: inline-block;
							margin: 0 5px;
							color: $color-danger;
							font-size: 16px;
							font-weight: bold;
						}
					}
				}

				.count
				{
					flex-grow: 1;
					margin-left: 5px;
					padding: 5px 10px;
					border: solid 1px $color-border;
					border-radius: $border-radius;
					background: $color-white;
					font-size: 12px;
					text-align: center;

					.caption
					{
						line-height: 15px;
					}

					.value
					{
						line-height: 20px;
						
						.num
						{
							font-size: 16px;
							font-weight: bold;
						}
					}
				}
			}

			.data-properties
			{
				table
				{
					width: 100%;
					border-collapse: collapse;

					th,td
					{
						padding: 5px;
						border-bottom: solid 1px $color-border;

						&:only-child
						{
							padding: 5px 10px;
						}
					}

					th
					{
						padding-left: 10px;
					}

					td
					{
						padding-right: 10px;
					}

					a
					{
						@include inline-block;
						color: $color-link;
						word-break: break-all;
					}
				}

				.actions
				{
					display: flex;
					justify-content: space-between;
					padding: 10px;
					background: $gm-color-grey-200;

					.vote, .link
					{
						width: 49%;
					}
				}
			}
		}

		section.intro
		{
			.intro-body
			{
				padding: 10px;
			}

			.image
			{
				float: left;
				width: 80px;
				@include shadow-card;

				img
				{
					width: 80px;
					height: 60px;
				}
			}

			.body
			{
				margin-left: 90px;
			}
		}
	}
	// bottom etc section
	section.bottom
	{
		padding: 10px;
	}


	//----------
	// Index
	//----------
	//spec
	section.title-spec
	{
		table
		{
			width: 100%;

			th,td
			{
				border-bottom: solid 1px $color-border;
				padding: 5px 10px;
				vertical-align: top;
			}

			tbody
			{
				th
				{
					background: $gm-color-grey-100;
				}
				td
				{
					background: $color-white;
				}

				tr.head th
				{
					background: $gm-color-grey-300;
				}

				tr.caption th
				{
					background: $gm-color-grey-700;
					line-height: 15px;
					color: $color-white;
					font-size: 12px;
					font-weight: bold;
				}
			}

			tfoot td
			{
				border: none;
				background: $color-danger;
				color: $color-white;
				font-size: 10px;
				text-align: center;
			}
		}
	}

	//movie
	section.title-movie
	{
		.video
		{
			padding: 10px;
			background: $color-black;
		}
	}

	//package
	section.title-package
	{
		.image .thumb img
		{
			height: auto;
		}

		.data
		{
			text-align: right;

			.title
			{
				color: $color-ec-amazon;
				text-align: left;
			}
			
			.date
			{
				line-height: 15px;
				font-size: 12px;
				text-align: left;
			}

			.price
			{
				display: inline-block;
				border-bottom: double 3px $color-danger;
				line-height: 20px;
				color: $color-danger;
				font-size: 16px;
				font-weight: bold;

				span.unit
				{
					font-size: 12px;
				}
			}
		}
	}

	//----------
	// Rating
	//----------
	section.title-rating
	{
		padding: 0 10px 10px;

		.counts
		{
			overflow: hidden;
			margin-bottom: 10px;
			border: solid 1px $color-border;
			border-radius: $border-radius;
			background: $color-white;

			.rate
			{
				display: flex;
				justify-content: center;
				padding: 10px;
				border-bottom: solid 1px $color-border;

				.caption
				{
					line-height: 25px;
					font-size: 16px;
				}

				.value
				{
					margin: 0 10px;
					line-height: 25px;
					font-size: 16px;

					span.num
					{
						margin-right: 5px;
						line-height: 25px;
						color: $color-danger;
						font-size: 25px;
						font-weight: bold;
						vertical-align: middle;
					}
				}

				.stars
				{
					display: inline-flex;
					margin: 0;
				}
			}

			.counts-bottom
			{
				display: flex;

				.count
				{
					overflow: hidden;
					width: 50%;
					padding: 5px 10px;
					line-height: 20px;
					font-size: 12px;

					.caption
					{
						float: left;
					}

					.value
					{
						float: right;

						span.num
						{
							margin-right: 5px;
							font-size: 14px;
							font-weight: bold;
						}
					}

					&.count-review
					{
						border-right: solid 1px $color-border;
					}
				}
			}
		}

		.rates
		{
			margin-bottom: 10px;

			ul
			{
				overflow: hidden;
				border: solid 1px $color-border;
				border-radius: $border-radius;
				background: $color-white;

				li
				{
					display: flex;
					position: relative;
					padding: 10px;
					border-bottom: solid 1px $color-border;

					&:last-child
					{
						border-bottom: none;
					}

					.caption
					{
						flex-grow: 1;
					}

					.stars
					{
						margin: 0;
					}

					.num
					{
						width: 40px;
						margin-left: 5px;
						text-align: right;
					}
				}
			}
		}
	}


	//----------
	// Link
	//----------
	section.title-link
	{
		.entry
		{
			padding: 10px;
		}
	}


	//----------
	// PC
	//----------
	section.title-pc
	{
		.title-pc-pickup
		{
			position: relative;
			padding: 10px;

			span.ribbon
			{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				padding: 5px;
				background: $gm-color-pink-500;
				line-height: 15px;
				color: $color-white;
				font-size: 10px;
				text-align: center;
				z-index: 1;

				&:after,
				&:before
				{
					content: "";
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					top: 100%;
					border: solid 10px transparent;
					border-top-color: $gm-color-pink-500;
				}
				&:before
				{
					left: 0;
					border-left-color: $gm-color-pink-500;
				}
				&:after
				{
					right: 0;
					border-right-color: $gm-color-pink-500;	
				}
			}

			a.title
			{
				margin-left: 20px;
				margin-bottom: 5px;
				line-height: 20px;
				color: $color-link;
				font-size: 16px;
			}

			.image
			{
				float: left;
				width: 60px;

				img
				{
					max-width: 100%;
				}
			}

			.data
			{
				margin-left: 70px;
				margin-bottom: 5px;

				table
				{
					width: 100%;
					margin-bottom: 5px;
					border-collapse: collapse;

					th,td
					{
						padding: 5px 0;
						border-bottom: solid 1px $color-border;
						line-height: 15px;
						font-size: 12px;
					}
					
					td.shop
					{
						a
						{
							display: inline;
							color: $color-link;
						}
					}
					td.price
					{
						color: $color-danger;
						font-size: 16px;
						font-weight: bold;
					}

					tr
					{
						&:last-child
						{
							td
							{
								border: 0;
							}
						}
					}
				}
			}

			.special
			{
				overflow: hidden;
				padding: 5px;
				border: solid 1px $color-border;
				border-radius: $border-radius;
				background: $color-white;
				
				span.caption
				{
					float: left;
					width: 40px;
					padding: 5px;
					line-height: 15px;
					border-radius: 3px;
					background: $gm-color-grey-700;
					color: $color-white;
					font-size: 12px;
					text-align: center;
				}

				.body
				{
					margin-left: 50px;
				}
			}
		}
	}

	section.title-pcs
	{
		h3
		{
			&.high
			{
				background: $gm-color-orange-50;
				color: $gm-color-orange-500;;
			}
			&.middle
			{
				background: $gm-color-blue-grey-50;
				color: $gm-color-blue-grey-500;;
			}
			&.low
			{
				background: $gm-color-brown-50;
				color: $gm-color-brown-500;;
			}
		}

		dl
		{
			a
			{
				display: inline;
				color: $color-link;
			}

			dt
			{
				padding: 10px 10px 5px;
				line-height: 20px;
			}

			dd
			{
				padding: 5px 10px 10px;
				border-bottom: solid 1px $color-border;

				&:last-child
				{
					margin-bottom: 0;
					border-bottom: 0;
				}

				.image
				{
					float: left;
					width: 60px;

					img
					{
						max-width: 100%;
					}
				}

				.data
				{
					margin-left: 70px;
					margin-bottom: 5px;

					table
					{
						width: 100%;
						margin-bottom: 5px;
						border-collapse: collapse;

						td
						{
							padding: 5px 0;
							border-bottom: solid 1px $color-border;
							line-height: 15px;
							font-size: 12px;
						}

						td.price
						{
							color: $color-danger;
							font-size: 14px;
							font-weight: bold;
						}

						tr
						{
							&:last-child
							{
								td
								{
									border: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}


//title components
.title-comp-rate
{
	width: 90px;
	padding: 10px 5px;
	border-top: solid 5px;
	color: $color-white;
	font-size: 16px;
	text-align: center;

	.caption,
	.icon
	{
		line-height: 20px;
	}

	.point
	{
		line-height: 30px;

		.num
		{
			font-size: 24px;
			font-weight: bold;
			vertical-align: bottom;
		}
	}
}
.title-comp-rate-good
{
	border-top-color: $gm-color-blue-900;
	background: $gm-color-blue-500;
}
.title-comp-rate-bad
{
	border-top-color: $gm-color-purple-900;
	background: $gm-color-purple-500;
}


.contents-main
{
	//----------
	// Common
	//----------


	//----------
	// Review
	//----------
	section.title-review
	{
		ul li
		{
			position: relative;
			margin-bottom: 20px;
		}

		.post
		{
			width: 539px;
			margin-left: 96px;
			padding: 4px;
			background: $gm-color-grey-200;
			z-index: 0;

			.post-body
			{
				min-height: 110px;
				border: solid 1px $color-border;
				background: $color-white;
			}

			.review
			{
				padding: 15px 20px;

				h2
				{
					margin-bottom: 10px;
					line-height: 30px;
					font-size: 20px;
				}
			}

			ul.data
			{
				padding: 10px 20px;
				background: $gm-color-grey-200;

				li
				{
					@include inline-block;
					margin-right: 10px;
					margin-bottom: 0;
					line-height: 20px;

					a
					{
						color: inherit;
					}
				}
			}
		}

		.title-comp-rate
		{
			position: absolute;
			top: 10px;
			left: 0;
			z-index: 1;
		}
	}


	//----------
	// Reviw single
	//----------
	section.title-review-single
	{
		ul.data
		{
			margin-bottom: 20px;

			li
			{
				@include inline-block;
				margin-right: 10px;
				margin-bottom: 0;
				line-height: 20px;

				a
				{
					color: inherit;
				}
			}
		}

		.review
		{
			margin-bottom: 20px;
			font-size: 16px;

			p
			{
				margin-bottom: 20px;
			}
		}

		.rate
		{
			position: relative;

			.points
			{
				width: 539px;
				margin-left: 96px;
				padding: 4px;
				background: $gm-color-grey-200;
				z-index: 0;

				.points-body
				{
					height: 110px;
					border: solid 1px $color-border;
					background: $color-white;
				}

				ul
				{
					width: 530px;
					height: 100px;
					margin: 5px auto;

					li
					{
						float: left;
						width: 106px;
						height: 50px;
						text-align: center;

						&.good
						{
							background: $gm-color-blue-50;
						}

						&.bad
						{
							background: $gm-color-purple-50;
						}

						.caption
						{
							line-height: 20px;
							font-size: 12px;
						}

						.num
						{
							line-height: 30px;
							font-size: 20px;

							.unit
							{
								font-size: 14px;
							}
						}
					}
				}
			}

			.title-comp-rate
			{
				position: absolute;
				top: 10px;
				left: 0;
				z-index: 1;
			}
		}
	}


	//----------
	// Review neightbors
	//----------
	section.title-review-neighbors
	{
		overflow: hidden;

		.neighbor
		{
			width: 300px;
			padding: 4px;
			background: $gm-color-grey-200;

			.neighbor-body
			{
				border: solid 1px $color-border;
				background: $color-white;
			}

			.caption
			{
				color: $color-white;
				font-size: 14px;

				&.caption-good
				{
					background: $gm-color-blue-500;
				}
				&.caption-bad
				{
					background: $gm-color-purple-500;
				}

				.rate, a
				{
					display: block;
					padding: 5px 10px;
					line-height: 20px;
				}

				.rate
				{
					float: right;
				}

				a
				{
					color: inherit;
					text-decoration: none;

					&:hover
					{
						display: block;
						text-decoration: underline;
					}
				}
			}

			.review
			{
				padding: 10px;

				h2
				{
					margin-bottom: 10px;
					font-size: 16px;
				}
			}

			ul.data
			{
				padding: 10px;
				background: $gm-color-grey-100;

				li
				{
					line-height: 20px;
				}
			}
		}
		.neighbor-prev
		{
			float: left;
		}
		.neighbor-next
		{
			float: right;
		}
	}
}
