
/** Links contents
------------------------------ **/
body.links
{
	section.sites
	{
		ul.categories
		{
			display: flex;
			overflow: auto;
			width: 100%;
			background: $gm-color-grey-200;
			@include border-sand;
			-webkit-overflow-scrolling: touch;

			li
			{
				float: left;
				border-right: solid 1px $color-border;

				&:last-child
				{
					border-right: none;
				}

				a, span
				{
					display: block;
					padding: 5px 10px;
					font-size: 12px;
					white-space: nowrap;
				}

				&.current
				{
					span
					{
						background: $color-link;
						color: $color-white;
						font-weight: bold;
					}
				}
			}
		}
	}
}
