<div class="shares">
	<ul>
		<!-- Facebook -->
		<li><a href="https://www.facebook.com/sharer/sharer.php?u=https://onlinegame.dz-life.net/" target="_blank"><img src="../img/design_sp/share_facebook.png" alt="Facebookでシェア"></a></li>
		<!-- Twitter -->
		<li><a href="https://twitter.com/intent/tweet?url=https://onlinegame.dz-life.net/" target="_blank"><img src="../img/design_sp/share_twitter.png" alt="Twitterでシェア"></a></li>
		<!-- LINE -->
		<li><a href="http://line.me/R/msg/text/?https://onlinegame.dz-life.net/" target="_blank"><img src="../img/design_sp/share_line.png" alt="LINEでシェア"></a></li>
		<!-- Google+ -->
		<li><a href="https://plus.google.com/share?url=https://onlinegame.dz-life.net/" target="_blank"><img src="../img/design_sp/share_google.png" alt="Google+でシェア"></a></li>
	</ul>
</div>