<!-- FB SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=293306697370465";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<!-- header -->
	<header>
		<h1 class="logo"><a href="index.html"><img src="../img/design_sp/logo_header.png" alt="オンラインゲームライフ" width="170" height="40"></a></h1>
		<div class="topMenu">
			<!-- search -->
			<div class="search">
				<a href="javascript:void(0)" class="trigger-search trigger">
					<span class="icon"><img src="../img/design_sp/icon_header_search.png" width="20" height="20"></span>
					<span class="text">検索</span>
				</a>
				<div class="hover-search hover">
					<form action="" class="search-form">
						<div class="search-inputs">
							<input type="text" class="search-text" name="q" size="31" placeholder="キーワード検索">
							<button type="submit" class="search-button"><i class="zmdi zmdi-search zmdi-hc-2x"></i></button>
						</div>
						<div class="search-conditions">
							<a href="search.html">条件を指定して探す</a>
						</div>
					</form>
				</div>
			</div>
			<!-- menu -->
			<div class="menu active">
				<a href="javascript:void(0)" class="trigger-menu trigger">
					<span class="icon"><img src="../img/design_sp/icon_header_menu.png" width="20" height="20"></span>
					<span class="text">メニュー</span>
				</a>
				<div class="hover-menu hover">
					<nav class="menu-list">
						<ul>
							<li><a href="rankings.html" title="人気ランキング">人気ランキング</a></li>
							<li><a href="reviews.html" title="レビュー">レビュー</a></li>
							<li><a href="portals.html" title="ポータルサイト">ポータルサイト</a></li>
							<li><a href="monies.html" title="ゲーム代を稼ぐ">ゲーム代を稼ぐ</a></li>
							<li><a href="pcs.html" title="ゲーム用PC">ゲーム用PC</a></li>
							<li>
								<a href="search.html" title="ゲームを探す">ゲームを探す</a>
								<dl>
									<dt>プラットフォームから探す</dt>
									<dd>
										<ul>
											<li><a href="archive_titles.html">Windows</a></li>
											<li><a href="archive_titles.html">Mac</a></li>
											<li><a href="archive_titles.html">PCブラウザ</a></li>
											<li><a href="archive_titles.html">iOSアプリ</a></li>
											<li><a href="archive_titles.html">Androidアプリ</a></li>
											<li><a href="archive_titles.html">スマホブラウザ</a></li>
										</ul>
									</dt>
									<dt>ジャンルから探す</dt>
									<dd>
										<ul>
											<li><a href="archive_titles.html">MMO</a></li>
											<li><a href="archive_titles.html">MO</a></li>
											<li><a href="archive_titles.html">RPG</a></li>
											<li><a href="archive_titles.html">MOBA</a></li>
											<li><a href="archive_titles.html">シューティング</a></li>
											<li><a href="archive_titles.html">スポーツ</a></li>
											<li><a href="archive_titles.html">レース</a></li>
											<li><a href="archive_titles.html">シミュレーション・育成</a></li>
											<li><a href="archive_titles.html">カード</a></li>
											<li><a href="archive_titles.html">テーブル・パズル</a></li>
											<li><a href="archive_titles.html">その他</a></li>
										</ul>
									</dd>
									<dt>スタイルから探す</dt>
									<dd>
										<ul>
											<li><a href="archive_titles.html">3D</a></li>
											<li><a href="archive_titles.html">2D</a></li>
											<li><a href="archive_titles.html">リアル</a></li>
											<li><a href="archive_titles.html">アニメ調</a></li>
											<li><a href="archive_titles.html">じっくり</a></li>
											<li><a href="archive_titles.html">お手軽</a></li>
											<li><a href="archive_titles.html">低スペック</a></li>
											<li><a href="archive_titles.html">ブラウザゲーム</a></li>
											<li><a href="archive_titles.html">Windows Vista対応</a></li>
											<li><a href="archive_titles.html">Windows7対応</a></li>
											<li><a href="archive_titles.html">Windows8対応</a></li>
											<li><a href="archive_titles.html">Mac対応</a></li>
											<li><a href="archive_titles.html">スマホ対応</a></li>
										</ul>
									</dd>
								</dl>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	