<!DOCTYPE HTML><html>
<head>
<meta charset="utf-8">

<title><?php echo isset($tag_title) ? $tag_title . " - オンラインゲームライフ" : "【オンラインゲームライフ】無料オンラインゲームの人気ランキング・レビュー"; ?></title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- OGP -->
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:site_name" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:type" content="">

<!-- CSS Libs -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<!-- CSS -->
<link rel="stylesheet" href="../css/styles_sp.css">

<!-- JS Libs -->
<script src="../js/libs/modernizr-2.8.3.min.js"></script>
<script src="../js/libs/jquery-1.11.2.min.js"></script>

</head>
