<div class="form form-vote">
	<form action="">
		<table>
			<tr class="head">
				<th>評価項目</th>
			</tr>
			<tr>
				<th>ゲームとして単純な面白さ</th>
			</tr>
			<tr>
				<td>
					<div class="rates">
						<input type="radio" id="rate11" name="1" value="1"><label for="rate11" class="rate">1</label>
						<input type="radio" id="rate12" name="1" value="2"><label for="rate12" class="rate">2</label>
						<input type="radio" id="rate13" name="1" value="3" checked><label for="rate13" class="rate">3</label>
						<input type="radio" id="rate14" name="1" value="4"><label for="rate14" class="rate">4</label>
						<input type="radio" id="rate15" name="1" value="5"><label for="rate15" class="rate">5</label>
					</div>
				</td>
			</tr>
			<tr>
				<th>オリジナリティ</th>
			</tr>
			<tr>
				<td>
					<div class="rates">
						<input type="radio" id="rate21" name="2" value="1"><label for="rate21" class="rate">1</label>
						<input type="radio" id="rate22" name="2" value="2"><label for="rate22" class="rate">2</label>
						<input type="radio" id="rate23" name="2" value="3" checked><label for="rate23" class="rate">3</label>
						<input type="radio" id="rate24" name="2" value="4"><label for="rate24" class="rate">4</label>
						<input type="radio" id="rate25" name="2" value="5"><label for="rate25" class="rate">5</label>
					</div>
				</td>
			</tr>
			<tr>
				<th>難易度</th>
			</tr>
			<tr>
				<td>
					<div class="rates">
						<input type="radio" id="rate31" name="3" value="1"><label for="rate31" class="rate">1</label>
						<input type="radio" id="rate32" name="3" value="2"><label for="rate32" class="rate">2</label>
						<input type="radio" id="rate33" name="3" value="3" checked><label for="rate33" class="rate">3</label>
						<input type="radio" id="rate34" name="3" value="4"><label for="rate34" class="rate">4</label>
						<input type="radio" id="rate35" name="3" value="5"><label for="rate35" class="rate">5</label>
					</div>
				</td>
			</tr>
			<tr>
				<th>グラフィック</th>
			</tr>
			<tr>
				<td>
					<div class="rates">
						<input type="radio" id="rate41" name="4" value="1"><label for="rate41" class="rate">1</label>
						<input type="radio" id="rate42" name="4" value="2"><label for="rate42" class="rate">2</label>
						<input type="radio" id="rate43" name="4" value="3" checked><label for="rate43" class="rate">3</label>
						<input type="radio" id="rate44" name="4" value="4"><label for="rate44" class="rate">4</label>
						<input type="radio" id="rate45" name="4" value="5"><label for="rate45" class="rate">5</label>
					</div>
				</td>
			</tr>
			<tr>
				<th>音楽</th>
			</tr>
			<tr>
				<td>
					<div class="rates">
						<input type="radio" id="rate51" name="5" value="1"><label for="rate51" class="rate">1</label>
						<input type="radio" id="rate52" name="5" value="2"><label for="rate52" class="rate">2</label>
						<input type="radio" id="rate53" name="5" value="3" checked><label for="rate53" class="rate">3</label>
						<input type="radio" id="rate54" name="5" value="4"><label for="rate54" class="rate">4</label>
						<input type="radio" id="rate55" name="5" value="5"><label for="rate55" class="rate">5</label>
					</div>
				</td>
			</tr>
			<tr>
				<th>世界観・ストーリー</th>
			</tr>
			<tr>
				<td>
					<div class="rates">
						<input type="radio" id="rate61" name="6" value="1"><label for="rate61" class="rate">1</label>
						<input type="radio" id="rate62" name="6" value="2"><label for="rate62" class="rate">2</label>
						<input type="radio" id="rate63" name="6" value="3" checked><label for="rate63" class="rate">3</label>
						<input type="radio" id="rate64" name="6" value="4"><label for="rate64" class="rate">4</label>
						<input type="radio" id="rate65" name="6" value="5"><label for="rate65" class="rate">5</label>
					</div>
				</td>
			</tr>
			<tr>
				<th>キャラクター</th>
			</tr>
			<tr>
				<td>
					<div class="rates">
						<input type="radio" id="rate71" name="7" value="1"><label for="rate71" class="rate">1</label>
						<input type="radio" id="rate72" name="7" value="2"><label for="rate72" class="rate">2</label>
						<input type="radio" id="rate73" name="7" value="3" checked><label for="rate73" class="rate">3</label>
						<input type="radio" id="rate74" name="7" value="4"><label for="rate74" class="rate">4</label>
						<input type="radio" id="rate75" name="7" value="5"><label for="rate75" class="rate">5</label>
					</div>
				</td>
			</tr>
			<tr>
				<th>コミュニケーション性</th>
			</tr>
			<tr>
				<td>
					<div class="rates">
						<input type="radio" id="rate81" name="8" value="1"><label for="rate81" class="rate">1</label>
						<input type="radio" id="rate82" name="8" value="2"><label for="rate82" class="rate">2</label>
						<input type="radio" id="rate83" name="8" value="3" checked><label for="rate83" class="rate">3</label>
						<input type="radio" id="rate84" name="8" value="4"><label for="rate84" class="rate">4</label>
						<input type="radio" id="rate85" name="8" value="5"><label for="rate85" class="rate">5</label>
					</div>
				</td>
			</tr>
			<tr>
				<th>イベントの充実</th>
			</tr>
			<tr>
				<td>
					<div class="rates">
						<input type="radio" id="rate91" name="9" value="1"><label for="rate91" class="rate">1</label>
						<input type="radio" id="rate92" name="9" value="2"><label for="rate92" class="rate">2</label>
						<input type="radio" id="rate93" name="9" value="3" checked><label for="rate93" class="rate">3</label>
						<input type="radio" id="rate94" name="9" value="4"><label for="rate94" class="rate">4</label>
						<input type="radio" id="rate95" name="9" value="5"><label for="rate95" class="rate">5</label>
					</div>
				</td>
			</tr>
			<tr>
				<th>料金設定</th>
			</tr>
			<tr>
				<td>
					<div class="rates">
						<input type="radio" id="rate101" name="10" value="1"><label for="rate101" class="rate">1</label>
						<input type="radio" id="rate102" name="10" value="2"><label for="rate102" class="rate">2</label>
						<input type="radio" id="rate103" name="10" value="3" checked><label for="rate103" class="rate">3</label>
						<input type="radio" id="rate104" name="10" value="4"><label for="rate104" class="rate">4</label>
						<input type="radio" id="rate105" name="10" value="5"><label for="rate105" class="rate">5</label>
					</div>
				</td>
			</tr>
			<tr class="head">
				<th colspan="2">レビューも書く（必須ではありません）</th>
			</tr>
			<tr>
				<th>投稿者名（HN）</th>
			</tr>
			<tr>
				<td><input type="text" class="input-text"></td>
			</tr>
			<tr>
				<th>タイトル</th>
			</tr>
			<tr>
				<td>
					<input type="text" class="input-text">
					<span class="input-description">レビューの見出しとして使用されます</span>
				</td>
			</tr>
			<tr>
				<th>レビュー</th>
			</tr>
			<tr>
				<td><textarea class="input-text" rows="10"></textarea></td>
			</tr>
			<tr>
				<th>編集用パスワード</th>
			</tr>
			<tr>
				<td>
					<input type="text" class="input-text" max="8">
					<span class="input-description">※半角英数字8文字以内</span>
				</td>
			</tr>
			<tr>
				<th class="must">認証番号</th>
			</tr>
			<tr>
				<td><img src="http://onlinegame.dz-life.net/img/design/spamnum.gif" alt=""></td>
			</tr>
			<tr>
				<th class="must">認証</th>
			</tr>
			<tr>
				<td>
					<span class="input-attention">スパム防止のため上記認証番号を半角で入力してください。</span>
					<input type="text" class="input-text" maxlength="4">
				</td>
			</tr>
			<tr class="notes">
				<td colspan="2">
					<dl>
						<dt>注意事項</dt>
						<dd>レビューは「ゲームに対する個人的な感想」として投稿してください。<br>
						他の方のレビューに対する意見や批判はトラブルの原因となり得ます。<br>
						ご理解のほど、よろしくお願い致します。</dd>
						<dt>一度投稿したタイトルには投稿できません</dt>
						<dd>編集用パスワードを設定することで、投稿後の編集が可能です。</dd>
					</dl>
				</td>
			</tr>
			<tr class="submit">
				<td colspan="2"><button class="button button-block button-submit">評価・レビューを投稿</button></td>
			</tr>
		</table>
	</form>
</div>
