<div class="title-header">
<?php if($title_current == "index"):?>
	<h1 class="title-name">
		<span class="official">Soul of the Ultimate Nation</span>
		<span class="sub">〜ダークファンタジーMMO & MORPG〜</span>
		<span class="read">ソウル・オブ・ジ・アルティメット・ネイション</span>
	</h1>
<?php else: ?>
	<a href="titles_index.html" class="title-name">
		<span class="official">Soul of the Ultimate Nation</span>
		<span class="sub">〜ダークファンタジーMMO & MORPG〜</span>
		<span class="read">ソウル・オブ・ジ・アルティメット・ネイション</span>
	</a>
<?php endif;?>
	<ul class="platformLabels">
		<li>Windows</li>
		<li>Mac</li>
		<li>PCブラウザ</li>
	</ul>
</div>