<a class="officiallink" href="#">
	<span class="caption">公式サイト</span>
	<span class="title">Soul of the Ultimate Nation</span>
	<span class="read">ソウル・オブ・ジ・アルティメット・ネイション</span>
</a>
<div class="officiallink">
	<span class="caption">公式サイト</span>
	<a href="#">Soul of the Ultimate Nation</a>
</div>
<span class="officiallink ended" href="#">
	<span class="title">サービス終了・休止中</span>
</span>
<div class="applink">
	<span class="caption">アプリダウンロード</span>
	<a href="#" target="_blank"><img src="../img/appbadge_app_store.png" alt="App Storeからダウンロード" width="135" height="40"></a>
	<a href="#" target="_blank"><img src="../img/appbadge_google_play.png" alt="Google Playで手に入れよう" width="135" height="40"></a>
</div>
