<!-- recommend -->
<section class="title-recommend">
	<h2>このゲームのプレイヤーにおすすめ</h2>
	<ul class="borderedLinks imageLinks imageLinks-s">
<?php for($i=0; $i<5; $i++):?>
		<li>
			<a href="titles_index.html">
				<div class="images">
					<div class="thumb"><img src="../img/noimage160.gif" alt=""></div>
				</div>
				<div class="data">
					<div class="title">
						<div class="official">Soul of the ultimate nation</div>
						<div class="read">ソウル・オブ・ジ・アリティメット・ネイション</div>
					</div>
				</div>
			</a>
		</li>
<?php endfor;?>
	</ul>
</section>