<form action="search_result.html">
	<fieldset class="keyword">
		<legend>キーワード</legend>
		<div class="inputs"><input type="text" name="" value=""></div>
	</fieldset>
	<fieldset class="platforms">
		<legend>プラットフォーム</legend>
		<div class="inputs">
			<ul>
				<li><label for=""><input type="checkbox" name="" value=""> Windows</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> Mac</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> PCブラウザ</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> iOSアプリ</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> Androidアプリ</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> スマホブラウザ</label></li>
			</ul>
		</div>
	</fieldset>
	<fieldset class="genres">
		<legend>ジャンル</legend>
		<div class="inputs">
			<ul>
				<li><label for=""><input type="checkbox" name="" value=""> MMO</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> MO</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> RPG</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> アクション</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> MOBA</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> シューティング</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> スポーツ</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> レース</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> シミュレーション・育成</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> カード</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> テーブル・パズル</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> その他</label></li>
			</ul>
		</div>
	</fieldset>
	<fieldset class="styles">
		<legend>スタイル・環境</legend>
		<div class="inputs">
			<ul>
				<li><label for=""><input type="checkbox" name="" value=""> 3D</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> 2D</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> リアル</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> アニメ調</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> じっくり</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> お手軽</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> 低スペック</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> ブラウザゲーム</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> Windows Vista対応</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> Windows7対応</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> Windows8対応</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> Mac対応</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> スマホ対応</label></li>
			</ul>
		</div>
	</fieldset>
	<fieldset class="services">
		<legend>サービス状態</legend>
		<div class="inputs">
			<ul>
				<li><label for=""><input type="checkbox" name="" value=""> 正式サービス</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> オープンβテスト</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> クローズドβテスト</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> ティザーサイト</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> 休止・終了</label></li>
			</ul>
		</div>
	</fieldset>
	<fieldset class="other">
		<legend>ついでに</legend>
		<div class="inputs">
			<ul>
				<li><label for=""><input type="checkbox" name="" value=""> 基本プレイは無料がいい</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> みんなの評価やレビューが見たい</label></li>
				<li><label for=""><input type="checkbox" name="" value=""> 攻略サイトやファンサイトも見てみたい</label></li>
			</ul>
		</div>
	</fieldset>
	<fieldset class="order">
		<legend>並び順</legend>
		<div class="inputs">
			<ul>
				<li><label for=""><input type="radio" name="order" value=""> 評価の高い順</label></li>
				<li><label for=""><input type="radio" name="order" value=""> サービス開始順（正式サービス前のタイトルは後ろに表示されます）</label></li>
				<li><label for=""><input type="radio" name="order" value=""> タイトル名順（A～Z、あ～お）</label></li>
			</ul>
		</div>
	</fieldset>
	<div class="submit">
		<button class="button button-search"><i class="zmdi zmdi-search"></i> この条件で検索する</button>
	</div>
</form>
