<!-- FB SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=293306697370465";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<!-- header -->
	<header>
		<div class="header-body">
			<h1 class="logo"><a href="index.html"><img src="../img/design/logo_header.png" alt="" width="230" height="40"></a></h1>
			<div class="search">
				<form action="http://www.google.co.jp/cse" id="cse-search-box" target="_blank">
					<div class="gSearch">
						<input type="hidden" name="cx" value="partner-pub-5378944923532596:hrh39ml3dzq" />
						<input type="hidden" name="ie" value="UTF-8" />
						<input type="text" class="gSearch-text" name="q" size="31" />
						<button type="submit" class="gSearch-button" name="sa"><i class="zmdi zmdi-search zmdi-hc-2x"></i></button>
					</div>
				</form>
				<script type="text/javascript" src="http://www.google.co.jp/coop/cse/brand?form=cse-search-box&amp;lang=ja"></script>
			</div>
			<div class="shares">
				<ul>
					<!-- Facebook -->
					<li><div class="fb-like" data-href="http://onlinegame.dz-life.net/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div></li>
					<!-- Twitter -->
					<li><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://onlinegame.dz-life.net/" data-count="true">Tweet</a></li>
					<!-- Google+1 -->
					<li><div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://onlinegame.dz-life.net/"></div></li>
					<!-- Hatena -->
					<li><a href="http://b.hatena.ne.jp/entry/http://onlinegame.dz-life.net/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-noballoon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></li>
				</ul>
			</div>
			<div class="counts">
				<ul>
					<li><i class="zmdi zmdi-gamepad"></i> タイトル数 <span class="count">666</span>件</li>
					<li><i class="zmdi zmdi-comments"></i> レビュー <span class="count">999</span>件</li>
					<li><i class="zmdi zmdi-thumb-up-down"></i> 評価 <span class="count">9999</span>件</li>
				</ul>
			</div>
		</div>
		<!-- global navigation -->
		<nav class="gNav">
			<ul>
				<li>
					<a href="rankings.html" title="人気ランキング">人気ランキング</a>
					<ul>
						<li><a href="rankings.html">MMO</a></li>
						<li><a href="rankings.html">MO</a></li>
						<li><a href="rankings.html">RPG</a></li>
					</ul>
				</li>
				<li><a href="reviews.html" title="レビュー">レビュー</a></li>
				<li><a href="portals.html" title="ポータルサイト">ポータルサイト</a></li>
				<li><a href="monies.html" title="ゲーム代を稼ぐ">ゲーム代を稼ぐ</a></li>
				<li><a href="pcs.html" title="ゲーム用PC">ゲーム用PC</a></li>
				<li><a href="search.html" title="ゲームを探す">ゲームを探す</a></li>
				<li class="social"><a href="https://twitter.com/diechang1031" target="_blank"><img src="../img/design/social_twitter.png" alt="Twitter" width="40" height="40"></a></li>
				<li class="social"><a href="https://www.facebook.com/onlinegame.life" target="_blank"><img src="../img/design/social_facebook.png" alt="Facebook" width="40" height="40"></a></li>
			</ul>
		</nav>
	</header>
	