				<!-- Side contents -->
				<div class="contents-side">
					<div class="floating">
						<section class="pr">
							<h1><a href="titles_index.html">Soul of the Ultimate Nation</a></h1>
							<div class="banner"><a href="#"><img src="../img/noimage160.gif" alt=""></a></div>
							<p class="comment">コメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
						</section>
						<section class="genres">
							<h1>
								<span class="main">ジャンル</span>
								<span class="sub">好きなジャンルで探す</span>
							</h1>
							<ul>
								<li><a href="archive_titles.html">MMO</a></li>
								<li><a href="archive_titles.html">MO</a></li>
								<li><a href="archive_titles.html">RPG</a></li>
								<li><a href="archive_titles.html">アクション</a></li>
								<li><a href="archive_titles.html">MOBA</a></li>
								<li><a href="archive_titles.html">シューティング</a></li>
								<li><a href="archive_titles.html">スポーツ</a></li>
								<li><a href="archive_titles.html">レース</a></li>
								<li><a href="archive_titles.html">シミュレーション・育成</a></li>
								<li><a href="archive_titles.html">カード</a></li>
								<li><a href="archive_titles.html">テーブル・パズル</a></li>
								<li><a href="archive_titles.html">その他</a></li>
							</ul>
						</section>
						<section class="styles">
							<h1>
								<span class="main">スタイル</span>
								<span class="sub">自分に合ったゲームを探す</span>
							</h1>
							<ul>
								<li><a href="archive_titles.html">3D</a></li>
								<li><a href="archive_titles.html">2D</a></li>
								<li><a href="archive_titles.html">リアル</a></li>
								<li><a href="archive_titles.html">アニメ調</a></li>
								<li><a href="archive_titles.html">じっくり</a></li>
								<li><a href="archive_titles.html">お手軽</a></li>
								<li><a href="archive_titles.html">低スペック</a></li>
								<li><a href="archive_titles.html">ブラウザゲーム</a></li>
								<li><a href="archive_titles.html">Windows Vista対応</a></li>
								<li><a href="archive_titles.html">Windows7対応</a></li>
								<li><a href="archive_titles.html">Windows8対応</a></li>
								<li><a href="archive_titles.html">Mac対応</a></li>
								<li><a href="archive_titles.html">スマホ対応</a></li>
							</ul>
						</section>
						<section class="services">
							<h1>
								<span class="main">サービス状態</span>
								<span class="sub">新作ゲームをチェック</span>
							</h1>
							<ul>
								<li><a href="archive_titles.html">正式サービス</a></li>
								<li><a href="archive_titles.html">オープンβテスト</a></li>
								<li><a href="archive_titles.html">クローズドβテスト</a></li>
								<li><a href="archive_titles.html">ティザーサイト</a></li>
								<li><a href="archive_titles.html">休止・終了</a></li>
							</ul>
						</section>
						<section class="sites">
							<h1>
								<span class="main">おすすめサイト</span>
							</h1>
							<ul>
								<li><a href="http://onlinegamech.com/" target="_blank">オンラインゲームちゃんねる</a></li>
								<li><a href="http://www.netgamebm.com/lib/ranking.php?countmode=in&in_id=1207" target="_blank">ネトゲブックマーク</a></li>
								<li><a href="http://ongetone.com/" target="_blank">オンゲトネ</a></li>
								<li><a href="http://ms-onlinegame.com/" target="_blank">エムズオンラインゲーム</a></li>
								<li><a href="http://freemmo.seesaa.net/" target="_blank">イケテルMMOブログ</a></li>
								<li><a href="http://www.netgameiroha.net/" target="_blank">irohaにネトゲ</a></li>
								<li><a href="http://netonlinegame.web.fc2.com/" target="_blank">無料オンラインゲーム情報.com</a></li>
								<li><a href="list_links.html">相互リンク集</a></li>
							</ul>
						</section>
						<section class="shops">
							<h1>
								<span class="main">ゲーム用PCショップ</span>
							</h1>
							<ul>
								<li><a href="">G-Tune</a></li>
								<li><a href="">パソコン工房</a></li>
								<li><a href="">ドスパラ</a></li>
								<li><a href="">フロンティア</a></li>
								<li><a href="">ハーキュリーズ</a></li>
							</ul>
						</section>
						<section class="feeds">
							<h1>
								<span class="main"><i class="icon icon-feed"></i> 配信フィード</span>
							</h1>
							<ul>
								<li><a href="http://feeds.feedburner.com/dz-game/newstart">最新オンラインゲーム</a></li>
								<li><a href="http://feeds.feedburner.com/dz-game/review">新着レビュー投稿</a></li>
								<li><a href="http://feeds.feedburner.com/dz-game/test">無料テスト情報</a></li>
								<li><a href="http://feeds.feedburner.com/dz-game/newgames">新着オンラインゲーム</a></li>
							</ul>
						</section>
						<section class="ranking">
							<h1>
								<span class="main">ランキングTOP10</span>
							</h1>
							<ul>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
								<li><a href="titles_index.html">
									<div class="image"><img src="../img/noimage160.gif" alt="" width="40" height="30"></div>
									<p class="title">Soul of the Ultimate Nation</p>
								</a></li>
							</ul>
							<div class="more"><a href="rankings_index.html">ランキング詳細 <i class="zmdi zmdi-chevron-right"></i></a></div>
						</section>
					</div>
				</div>
				