			<!-- Sub contents -->
			<div class="contents-sub">
				<div class="floating">
					<div class="gAds"><!-- adsense --></div>
					<section class="tests framed">
						<div class="framed-body">
							<h1>
								<span class="main">無料テスト中オンラインゲーム</span>
								<span class="sub">新作ゲームを無料で遊ぶチャンス！</span>
							</h1>
							<ul class="titles">
								<li>
									<h2 class="title">
										<a href="titles_index.html">
											<span class="official">Soul of the Ultimate Nation</span>
											<span class="read">ソウル・オブ・ジ・アルティメット・ネイション</span>
										</a>
									</h2>
									<div class="image"><a href="titles_index.html"><img src="../img/noimage160.gif" alt="" width="60" height="45"></a></div>
									<p class="description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
									<p class="data">
										<span class="label label-open">オープンβ</span>
										<span class="value">2015年1月1日〜2015年12月31日</span>
									</p>
									<p class="data data-official">
										<span class="label label-official">公式サイト</span>
										<a href="#">Soul of the Ultimate Nation</a>
									</p>
								</li>
								<li>
									<h2 class="title">
										<a href="titles_index.html">
											<span class="official">Soul of the Ultimate Nation</span>
											<span class="read">ソウル・オブ・ジ・アルティメット・ネイション</span>
										</a>
									</h2>
									<div class="image"><a href="titles_index.html"><img src="../img/noimage160.gif" alt="" width="60" height="45"></a></div>
									<p class="description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
									<p class="data">
										<span class="label label-closed">クローズドβ</span>
										<span class="value">2015年1月1日〜2015年12月31日</span>
									</p>
									<p class="data data-official">
										<span class="label label-official">公式サイト</span>
										<a href="#">Soul of the Ultimate Nation</a>
									</p>
								</li>
							</ul>
						</div>
					</section>
					<section class="pickups framed">
						<div class="framed-body">
							<h1>
								<span class="main">新作ピックアップ</span>
								<span class="sub">最近サービスが開始された注目タイトル！</span>
							</h1>
							<ul class="titles">
								<li>
									<h2 class="title">
										<a href="titles_index.html">
											<span class="official">Soul of the Ultimate Nation</span>
											<span class="read">ソウル・オブ・ジ・アルティメット・ネイション</span>
										</a>
									</h2>
									<div class="image"><a href="titles_index.html"><img src="../img/noimage160.gif" alt="" width="60" height="45"></a></div>
									<p class="description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
									<p class="data">
										<span class="label label-genre">ジャンル</span>
										<a href="archive_titles.html">MMO</a>
										<a href="archive_titles.html">MO</a>
										<a href="archive_titles.html">RPG</a>
									</p>
									<p class="data data-official">
										<span class="label label-official">公式サイト</span>
										<a href="#">Soul of the Ultimate Nation</a>
									</p>
								</li>
								<li>
									<h2 class="title">
										<a href="titles_index.html">
											<span class="official">Soul of the Ultimate Nation</span>
											<span class="read">ソウル・オブ・ジ・アルティメット・ネイション</span>
										</a>
									</h2>
									<div class="image"><a href="titles_index.html"><img src="../img/noimage160.gif" alt="" width="60" height="45"></a></div>
									<p class="description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
									<p class="data">
										<span class="label label-genre">ジャンル</span>
										<a href="archive_titles.html">MMO</a>
										<a href="archive_titles.html">MO</a>
										<a href="archive_titles.html">RPG</a>
									</p>
									<p class="data data-official">
										<span class="label label-official">公式サイト</span>
										<a href="#">Soul of the Ultimate Nation</a>
									</p>
								</li>
							</ul>
						</div>
					</section>
					<section class="myPosts framed">
						<div class="framed-body">
							<h1>
								<span class="main">最近投稿したレビュー</span>
								<span class="sub">パスワードがあればいつでも編集できます</span>
							</h1>
							<ul class="titles">
								<li>
									<h2 class="title">
										<a href="titles_index.html">
											<span class="official">Soul of the Ultimate Nation</span>
											<span class="read">ソウル・オブ・ジ・アルティメット・ネイション</span>
										</a>
									</h2>
									<div class="image"><a href="titles_index.html"><img src="../img/noimage160.gif" alt="" width="60" height="45"></a></div>
									<p class="more">
										<a href="titles_review_edit.html"><i class="zmdi zmdi-edit"></i> 編集する</a>
									</p>
									<p class="more">最終更新：2016年12月31日</p>
								</li>
								<li>
									<h2 class="title">
										<a href="titles_index.html">
											<span class="official">Soul of the Ultimate Nation</span>
											<span class="read">ソウル・オブ・ジ・アルティメット・ネイション</span>
										</a>
									</h2>
									<div class="image"><a href="titles_index.html"><img src="../img/noimage160.gif" alt="" width="60" height="45"></a></div>
									<p class="more">
										<a href="titles_review_edit.html"><i class="zmdi zmdi-edit"></i> 編集する</a>
									</p>
									<p class="more">最終更新：2016年12月31日</p>
								</li>
							</ul>
						</div>
					</section>
					<section class="fbPage">
						<div class="fb-page" data-href="https://www.facebook.com/onlinegame.life/" data-tabs="timeline" data-width="300" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/onlinegame.life/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/onlinegame.life/">オンラインゲームライフ Community</a></blockquote></div>
					</section>
					<section class="banners">
						<ul>
							<li><a href="/jump/adrb/157" target="_blank" rel="nofollow"><img src="http://h.accesstrade.net/sp/rr?rk=0100id6w003ncs" alt=""></a></li>
							<li><a href="/jump/adrb/156" target="_blank" rel="nofollow"><img src="http://h.accesstrade.net/sp/rr?rk=0100ibw9003ncs" alt=""></a></li>
							<li><a href="/jump/adrb/155" target="_blank" rel="nofollow"><img src="http://h.accesstrade.net/sp/rr?rk=0100ib33003ncs" alt=""></a></li>
							<li><a href="/jump/adrb/154" target="_blank" rel="nofollow"><img src="http://h.accesstrade.net/sp/rr?rk=0100i9w6003ncs" alt=""></a></li>
							<li><a href="/jump/adrb/152" target="_blank" rel="nofollow"><img src="http://h.accesstrade.net/sp/rr?rk=0100i92n003ncs" alt=""></a></li>
							<li><a href="/jump/adrb/149" target="_blank" rel="nofollow"><img src="http://h.accesstrade.net/sp/rr?rk=0100i3sh003ncs" alt=""></a></li>
							<li><a href="/jump/adrb/146" target="_blank" rel="nofollow"><img src="http://h.accesstrade.net/sp/rr?rk=0100hpjb003ncs" alt=""></a></li>
							<li><a href="/jump/adrb/136" target="_blank" rel="nofollow"><img src="http://h.accesstrade.net/sp/rr?rk=0100hd57003ncs" alt=""></a></li>
						</ul>
					</section>
				</div>
			</div>