<nav class="title-nav">
	<ul>
		<li<?php if($title_current == "index"):?> class="current"<?php endif;?>><a href="titles_index.html">概要</a></li>
		<li<?php if($title_current == "rating"):?> class="current"<?php endif;?>><a href="titles_rating.html">評価</a></li>
		<li<?php if($title_current == "review"):?> class="current"<?php endif;?>><a href="titles_review.html">レビュー</a></li>
		<li<?php if($title_current == "pc"):?> class="current"<?php endif;?>><a href="titles_pc.html">推奨PC</a></li>
		<li<?php if($title_current == "link"):?> class="current"<?php endif;?>><a href="titles_link.html">攻略リンク</a></li>
		<li<?php if($title_current == "search"):?> class="current"<?php endif;?>><a href="titles_search.html">動画・ブログ</a></li>
	</ul>
</nav>